@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.practicing-block > * {
	margin-bottom: 120px;
}

.practicing-block > *:last-child {
	margin-bottom: 0px;
}

.position-wrapper {
	padding: 30px;
}

.position {
	background-color: #ba9393;
	padding: 20px;
	font-family: "Ubuntu Mono", monospace;
	font-size: 24px;
	color: rgb(38, 76, 107);
	border-radius: 30px;
	box-shadow: inset 0 0 15px 1px #8c8594;
}

.position > * {
	margin-bottom: 25px;
}

.position > *:last-child {
	margin-bottom: 0px;
}

.position__title {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	text-shadow: #484b4d63 3px 5px 2px;
}

.position__text {
	text-align: justify;
}

.position__text--bold,
.tab-position__title,
.position__subtext--bold {
	font-weight: bold;
}

.position__text--small,
.tab-position__text--small {
	font-size: 12px;
}

.menu-position {
	max-width: 1270px;
	font-size: 0px;
	margin: 0 auto;
}

.layout-position__tab {
	background-color: #b1a9bb;
	display: inline-block;
	max-width: 180px;
	min-height: 70px;
	font-size: 20px;
	padding: 10px;
	border: 4px double #8c8594;
	height: 60px;
	vertical-align: top;
}

.layout-position__tab:hover {
	background-color: #829cb7;
	border: 4px double #457c9a;
}

.layout-position__tab:hover > .tab-position__title {
	text-decoration: underline;
}

[class*="position-block"] {
	font-size: 28px;
	text-align: center;
	padding: 10px;
	width: 180px;
	margin: 0 auto;
	border: 1px dashed #506556;
}

[class*="position-block-1"] {
	/*background-color: rgba(149, 160, 124, 0.8);*/
	background-color: rgba(186, 115, 107, 0.75);
}
[class*="position-block-2"] {
	background-color: rgba(113, 135, 112, 0.75);
}
[class*="position-block-3"] {
	/*background-color: rgba(95, 120, 108, 0.8);*/
	background-color: rgba(118, 124, 195, 0.75);
}

/*__________static_________*/

.static {
	position: relative;
	z-index: 10;
	background-color: rgba(165, 157, 174, 0.577);
	width: 180px;
}

.block-2-static {
	position: static;
	top: 20px;
}

/*__________relative-1_________*/

.relative-1 {
	position: relative;
	z-index: 10;
	background-color: rgba(165, 157, 174, 0.577);
	width: 180px;
}

.block-2-relative-1 {
	position: relative;
	top: 20px;
	left: 20px;
}

/*__________relative-2   z-index_________*/

.relative-2 {
	position: relative;
	z-index: 10;
	background-color: rgba(165, 157, 174, 0.577);
	width: 180px;
}

.block-1-relative-2 {
	position: relative;
	top: 40px;
	left: 10px;
	z-index: 3;
}
.block-2-relative-2 {
	position: relative;
	top: 20px;
	left: 20px;
	z-index: 1;
}

.block-3-relative-2 {
	position: relative;
	left: 10px;
	z-index: 2;
}

/*__________absolute-1_________*/

.absolute-1 {
	position: relative;
	top: 10px;
	left: 0;
	z-index: 10;
	background-color: rgba(165, 157, 174, 0.577);
	width: 180px;
}

.block-2-absolute-1 {
	position: absolute;
	top: 20px;
	left: 20px;
}

/*__________absolute-2   100%_________*/

.absolute-2 {
	position: relative;
	z-index: 10;
	background-color: rgba(165, 157, 174, 0.577);
	width: 180px;
}

.block-2-absolute-2 {
	position: absolute;
	top: 100%;
	left: 100%;
	min-width: 176px;
}

/*__________fixed_________*/

.fixed {
	position: relative;
	z-index: 10;
	background-color: rgba(165, 157, 174, 0.577);
	width: 180px;
}

.block-2-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/*__________sticky_________*/

.sticky {
	position: relative;
	z-index: 10;
	background-color: rgba(165, 157, 174, 0.577);
	width: 180px;
}

.block-1-sticky {
	position: sticky;
	top: 70px;
	left: 0;
}

/*_______ меню______*/

[class*="category-position"] {
	visibility: hidden;
}

[class*="layout-position__tab"]:hover [class*="category-position"] {
	visibility: visible;
}

.body-position {
	min-height: 500px;
}

/*___________________practicing-menu_______________________*/

[class*="__container"] {
	max-width: 1400px;
	margin: 0 auto;
}

.practicing-menu-wrapper {
	position: relative;
}

.header-practicing-menu {
	padding: 10px;
	background-color: #a4c4c4d3;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	width: 100%;
}

.header-practicing-menu--fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.main-icon > img {
	max-height: 30px;
}

.menu-account__link > img {
	max-height: 25px;
}

.menu-horizontal,
.menu-account {
	font-size: 0px;
	max-width: 50%;
}

.main-icon {
	position: absolute;
	top: /*20px*/ 30%;
	left: 50%;
}

.menu-horizontal,
.menu-horizontal__item,
.main-icon,
.menu-account,
.menu-account__item {
	display: inline-block;
	vertical-align: middle;
}

.menu-horizontal__item:hover .menu-horizontal__link,
.menu-account__item:hover,
.main-icon:hover {
	opacity: 0.6;
}

.menu-horizontal__item:hover {
	border-bottom: 2px solid rgba(62, 100, 112, 0.748);
	max-height: 40px;
}

.menu-horizontal__item {
	font-size: 20px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.menu-horizontal__item:not(:last-child) {
	padding-right: 30px;
}
.menu-horizontal__link {
	padding: 15px 0;
}

.menu-account {
	text-align: right;
}

.menu-account--absolute {
	position: absolute;
	top: /*23px*/ 35%;
	right: 60px;
}

.menu-account__item:not(:last-child) {
	padding-right: 20px;
}

/*____стилі page-practicing-menu ___*/

.page-practicing-menu {
	font-weight: 400;
	font-family: "Raleway", sans-serif;
}

.page-practicing-menu__container {
	font-size: 0px;
}

.side-practicing-menu,
.content-practicing-menu {
	display: inline-block;
	font-size: 18px;
	vertical-align: top;
}

.side-practicing-menu {
	width: 15%;
	padding: 25px;
	background-color: #bbb1c6bb;
}

.menu-side__item:not(:last-child) {
	margin-bottom: 10px;
}

.content-practicing-menu {
	width: 85%;
}

/*____спливаюче меню submenu-horizontal______*/

.submenu-horizontal__link {
	text-transform: uppercase;
}

.menu-horizontal__item {
	position: relative;
}

.submenu-horizontal {
	padding-top: 16px;
	width: 250px;
}

.submenu-horizontal--absolute {
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden;
	z-index: 5;
}

.submenu-horizontal__item {
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	background-color: #d4bbbbe3;
	font-size: 18px;
	font-weight: 300;
}

.submenu-horizontal__link {
	display: inline-block;
	padding: 10px 15px;
}

[class*="submenu-horizontal__item"]:hover > [class*="submenu-horizontal__link"],
[class*="menu-side__item"]:hover > [class*="menu-side__link"] {
	opacity: 0.8;
	text-decoration: underline;
}

[class*="menu-horizontal__item"]:hover > [class*="submenu-horizontal"] {
	visibility: visible;
}
.submenu-horizontal__item {
	position: relative;
}

.subsubmenu-horizontal--absolute {
	position: absolute;
	top: 0;
	left: 100%;
	visibility: hidden;
	z-index: 6;
}

.subsubmenu-horizontal {
	width: 350px;
	text-transform: capitalize;
	text-decoration: none;
}

.subsubmenu-horizontal__item {
	background-color: #d4bbbbe3;
	font-size: 16px;
}

.subsubmenu-horizontal__link {
	padding: 10px 15px;
}

/*____бічне меню submenu-horizontal______*/

.menu-side {
	max-width: 100%;
}

.menu-side__link::before {
	content: "";
	background: url("../img/icons/icon__waves2.svg") center/cover no-repeat;
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 4px;
	left: 0;
}

.menu-side__link {
	padding: 10px 15px 10px 45px;
	display: block;
	font-size: 20px;
	letter-spacing: 1.7px;
	text-transform: uppercase;
	position: relative;
}

.submenu-side__item,
.subsubmenu-side__item {
	background-color: #9a7b93d7;
}

.submenu-side__link {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	display: block;
	padding: 15px 20px;
}

.subsubmenu-side__item {
	background-color: #9a7b93e0;
}

.subsubmenu-side__link {
	text-transform: capitalize;
	font-weight: 300;
	letter-spacing: 1.3px;
	font-size: 18px;
	display: block;
	padding: 8.4px 15px;
}

.menu-side__item {
	position: relative;
}

.submenu-side {
	padding-left: 25px;
	width: 200px;
}

.submenu-side--absolute {
	position: absolute;
	top: 0px;
	left: 100%;
	visibility: hidden;
}

[class*="menu-side__item"]:hover > [class*="submenu-side"] {
	visibility: visible;
}
.submenu-side__item {
	position: relative;
}

.subsubmenu-side {
	padding-left: 0px;
	width: 200px;
}

.subsubmenu-side--absolute {
	position: absolute;
	top: 0px;
	left: 100%;
	visibility: hidden;
}

/*__________sticky side menu_______________*/

.page-practicing-menu__container {
	position: relative;
}
.side-practicing-menu--sticky {
	position: sticky;
	top: 120px;
	left: 20px;
	z-index: 99;
	width: 300px;
}

/*___________content-practicing-menu _______________*/

.page-practicing-menu {
	background: url("../img/homepage_oneill2.webp") center 69px / cover no-repeat fixed;
}

.content-practicing-menu {
	min-height: 1000px;
}

.content-practicing-menu__title-container {
	position: absolute;
	color: #ffffff;
	top: 50%;
	right: 25%;
	text-shadow: 5px 5px 15px #1d1c1c;
	text-align: center;
}

.content-practicing-menu__title-container > *:not(:last-child) {
	margin-bottom: 10px;
}

.content-practicing-menu__title {
	font-family: "Playfair Display", serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 40px;
}

/*__________consulting_________*/

.consulting__container {
	padding: 30px 30px;
}

.consulting__box {
	max-width: 1220px;
	margin: 0 auto;
}

.content-consulting > *:not(:last-child) {
	margin-bottom: 31px;
}

.content-consulting__row {
	font-size: 0px;
}

.content-consulting__row > *:not(:last-child) {
	margin-right: 31px;
}

.content-consulting__card {
	display: inline-block;
	font-size: 18px;
	vertical-align: middle;
}

.card__image {
	width: 386px;
	/*height: 532px;*/
}

.card__image img {
	width: 100%;
	/*height: 100%;*/
}

.card__social {
	font-size: 0px;
}
.card__social > *:not(:last-child) {
	margin-right: 13px;
}

.social-box__logo-wrapper {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	font-size: 0px;
}
.social-box__logo-wrapper img {
	width: 100%;
	height: 100%;
}

.card__body {
	width: 341px;
	padding: 24px 25px;
	background: #fff;
}

.card__body > *:not(:last-child) {
	margin-bottom: 5.7px;
}

.card__title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.2;
}
.card__text {
	color: #7d7d7d;
	text-align: center;
	font-family: "Inter", sans-serif;
	line-height: 1.2; /* 24.334px */
}

/*________consulting position_________*/

.content-consulting__card {
	position: relative;
}

.card__social {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 7;
	margin-left: -88px;
	margin-top: -25px;
}

.card__body {
	position: absolute;
	left: 22px;
	bottom: 22px;
	z-index: 6;
}

/*________consulting visibility + hover_________*/

.card__social {
	visibility: hidden;
}

.card:hover .card__social {
	visibility: visible;
}

.social-box__link:hover .social-box__logo-wrapper {
	box-shadow:
		0px 0px 10px 3px #1ec08a,
		inset 0px 0px 3px 1px #1ec08a;
	opacity: 0.85;
}

.card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(107, 119, 229, 0.7);
	visibility: hidden;
	z-index: 1;
}

.card:hover::after {
	visibility: visible;
}
