@import url("fonts.css");
@import url("reset.css");

.practicing {
	font-family: "Core Sans C", sans-serif;
	font-weight: 600;
	font-size: 40px;
	line-height: 1.1;
	padding: 20px;
	margin: 0 auto 100px;
	background-color: #cdd4b8;
}

.practicing > * {
	margin: 0 auto 50px auto;
}

/*_____________________hover-1__________________*/
.practicing .hover-1 {
	max-width: 500px;
	min-height: 120px;
	text-align: center;
}

.practicing .hover-1 .link {
	text-shadow: 0px 1px 0px #ced9bf;
	color: #757d6f;
	padding: 30px 40px;
	text-align: center;
	display: inline-block;
	box-shadow: inset 0px 0px 14px -3px #f2fadc;
	background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color: #dbe6c4;
	border-radius: 32px;
	border: 1px solid #b2b8ad;
}

.practicing .hover-1 .link:hover {
	color: #5d6459;
	text-decoration: underline;
	font-size: 45px;
	padding: 32px 42px;
	background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color: #9ba892;
}

/*_____________________hover-2__________________*/

.practicing .hover-2 {
	max-width: 500px;
	min-height: 190px;
	text-align: center;
}

.practicing .hover-2 h2 {
	color: #ffffff;
	text-shadow:
		#f8eded 0px 0px 3px,
		#f8eded 0px 0px 6px,
		#f6efef 0px 0px 9px,
		#ff2d95 0px 0px 20px,
		#ff2d95 0px 0px 30px,
		#ff2d95 0px 0px 40px,
		#ff2d95 0px 0px 50px,
		#ff2d95 0px 0px 75px;
	margin-bottom: 20px;
}

.practicing .hover-2 .link {
	text-shadow: 0px 1px 0px #ced9bf;
	color: #757d6f;
	padding: 30px 40px;
	text-align: center;
	display: inline-block;
	box-shadow: inset 0px 0px 14px -3px #f2fadc;
	background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color: #dbe6c4;
	border-radius: 32px;
	border: 1px solid #b2b8ad;
	visibility: hidden;
	opacity: 0;
}

.practicing .hover-2:hover .link {
	color: #5d6459;
	text-decoration: underline;
	font-size: 45px;
	padding: 32px 42px;
	background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color: #9ba892;
	visibility: visible;
	opacity: 1;
}

/*______________active_______________*/

.practicing .active {
	max-width: 500px;
	min-height: 120px;
	text-align: center;
}

.practicing .active .link {
	text-shadow: 0px 1px 0px #ced9bf;
	color: #757d6f;
	padding: 30px 40px;
	text-align: center;
	display: inline-block;
	box-shadow: inset 0px 0px 14px -3px #f2fadc;
	background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color: #dbe6c4;
	border-radius: 32px;
	border: 1px solid #b2b8ad;
}

.practicing .active .link:hover {
	color: #5d6459;
	text-decoration: underline;
	font-size: 45px;
	padding: 32px 42px;
	background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color: #9ba892;
}

.practicing .active .link:active {
	color: rgba(0, 0, 0, 0.6);
	background: #629552;
	text-shadow:
		2px 8px 6px rgba(0, 0, 0, 0.2),
		0px -5px 35px rgba(255, 255, 255, 0.3);
}

/*______________visited________________*/

.practicing .visited {
	max-width: 500px;
	min-height: 120px;
	text-align: center;
}

.practicing .visited .link {
	text-shadow: 0px 1px 0px #ced9bf;
	color: #757d6f;
	padding: 30px 40px;
	text-align: center;
	display: inline-block;
	box-shadow: inset 0px 0px 14px -3px #f2fadc;
	background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color: #dbe6c4;
	border-radius: 32px;
	border: 1px solid #b2b8ad;
}

.practicing .visited .link:hover {
	color: #5d6459;
	text-decoration: underline;
	font-size: 45px;
	padding: 32px 42px;
	background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color: #9ba892;
}

.practicing .visited .link:active {
	color: rgba(0, 0, 0, 0.6);
	background: #629552;
	text-shadow:
		2px 8px 6px rgba(0, 0, 0, 0.2),
		0px -5px 35px rgba(255, 255, 255, 0.3);
}

.practicing .visited .link:visited {
	color: #929f8aa1;
}

/*_________________focus_________________*/

.practicing .focus {
	max-width: 500px;
	min-height: 120px;
	text-align: center;
}

.practicing .focus .link {
	text-shadow: 0px 1px 0px #ced9bf;
	color: #757d6f;
	padding: 30px 40px;
	text-align: center;
	display: inline-block;
	box-shadow: inset 0px 0px 14px -3px #f2fadc;
	background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color: #dbe6c4;
	border-radius: 32px;
	border: 1px solid #b2b8ad;
}

.practicing .focus .link:hover {
	color: #5d6459;
	text-decoration: underline;
	font-size: 45px;
	padding: 32px 42px;
	background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color: #9ba892;
}

.practicing .focus .link:active {
	color: rgba(0, 0, 0, 0.6);
	background: #629552;
	text-shadow:
		2px 8px 6px rgba(0, 0, 0, 0.2),
		0px -5px 35px rgba(255, 255, 255, 0.3);
}

.practicing .focus .link:focus {
	color: #ffffff;
	text-shadow:
		#f8eded 0px 0px 3px,
		#f8eded 0px 0px 6px,
		#f6efef 0px 0px 9px,
		#ff2d95 0px 0px 20px,
		#ff2d95 0px 0px 30px,
		#ff2d95 0px 0px 40px,
		#ff2d95 0px 0px 50px,
		#ff2d95 0px 0px 75px;
}

/*________________target______________*/

.practicing .target {
	max-width: 500px;
	text-align: center;
}

.practicing .target .link {
	text-decoration: underline;
	color: #ffffff;
	text-shadow:
		0 -1px 4px #fff,
		0 -2px 10px #ff0,
		0 -10px 20px #ff8000,
		0 -18px 40px #f00;
}

.practicing .target .bottom .end {
	display: inline-block;
	visibility: hidden;
}
.practicing .target .bottom .end:target {
	visibility: visible;
	color: #bc2e1e;
	text-transform: uppercase;
	text-shadow:
		0 1px 0px #378ab4,
		1px 0 0px #5dabcd,
		1px 2px 1px #378ab4,
		2px 1px 1px #5dabcd,
		2px 3px 2px #378ab4,
		3px 2px 2px #5dabcd,
		3px 4px 2px #378ab4,
		4px 3px 3px #5dabcd,
		4px 5px 3px #378ab4,
		5px 4px 2px #5dabcd,
		5px 6px 2px #378ab4,
		6px 5px 2px #5dabcd,
		6px 7px 1px #378ab4,
		7px 6px 1px #5dabcd,
		7px 8px 0px #378ab4,
		8px 7px 0px #5dabcd;
}

/*___________________псевдоелементи______________________*/

.practicing .first-child,
.practicing .first-of-type,
.practicing .last-child-1,
.practicing .last-of-type,
.practicing .nth-child-1,
.practicing .nth-child-2,
.practicing .nth-child-3,
.practicing .not,
.practicing .last-child-2,
.practicing .last-child-3,
.practicing .before {
	max-width: 1500px;
	padding: 30px;
	color: rgb(207, 163, 104);
	border: 1px solid #5d6459;
	border-radius: 10px;
	box-shadow: inset 0px 0px 14px -3px #53564b;
}

.practicing .blue-text {
	color: rgb(57, 96, 90);
	font-size: 45px;
	text-decoration: underline;
}

/*__________________first-child_____________________*/

.practicing .first-child .list p:first-child {
	margin-bottom: 40px;
	color: rgb(157, 124, 80);
	background-color: #bac0a8;
}

/*_____________________first-of-type________________________*/

.practicing .first-of-type .list p:first-of-type {
	margin-bottom: 40px;
	color: rgb(157, 124, 80);
	background-color: #bac0a8;
}

/*_____________________last-child______________________*/

.practicing .last-child-1 .list > * {
	margin-bottom: 35px;
}

.practicing .last-child-1 .list p:last-child {
	margin-bottom: 0px;
	color: rgb(157, 124, 80);
	background-color: #bac0a8;
}

/*__________________last-of-type______________________*/

.practicing .last-of-type .list > * {
	margin-bottom: 35px;
}

.practicing .last-of-type .list p:last-of-type {
	margin-bottom: 0px;
	color: rgb(157, 124, 80);
	background-color: #bac0a8;
}

/*__________________nth-child____________________*/

.practicing .last-of-type .list p:last-of-type {
	margin-bottom: 0px;
}

.practicing .nth-child-1 .list p:nth-child(2) {
	margin: 30px 0px;
	color: rgb(157, 124, 80);
	background-color: #bac0a8;
}

/*___________________________________________*/

.practicing .nth-child-2 .list p:nth-child(even) {
	margin: 30px 0px;
	color: rgb(157, 124, 80);
	background-color: #bac0a8;
}

.practicing .nth-child-2 .list p:last-of-type {
	margin-bottom: 0px;
}

/*__________________nth-child-3_____________________*/

.practicing .nth-child-3 .list p:nth-child(n + 5) {
	margin: 30px 0px;
	color: rgb(157, 124, 80);
	background-color: #bac0a8;
}

.practicing .nth-child-3 .list p:last-of-type {
	margin-bottom: 0px;
}

/*_________________not (однаковий margin)____________________*/

.practicing .not .list > *:not(:last-child) {
	color: rgb(157, 124, 80);
	background-color: #bac0a8;
	margin-bottom: 30px;
}

/*_________________last-child-2 (різний margin)____________________*/

.practicing .last-child-2 .list h2 {
	font-size: 60px;
	text-align: center;
	color: darkolivegreen;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.practicing .last-child-2 .list a {
	display: inline-block;
	font-size: 50px;
	text-decoration: underline;
	color: chocolate;
	padding-left: 20px;
	margin-bottom: 30px;
}
.practicing .last-child-2 .list a:hover {
	color: rgb(169, 23, 185);
	text-shadow: 2px 2px 10px #a765af;
	text-decoration: none;
	text-transform: uppercase;
}

.practicing .last-child-2 .list p {
	margin-bottom: 20px;
}

.practicing .last-child-2 .list > *:last-child {
	margin-bottom: 0px;
}

/*______last-child-3 (різний margin - універсальний варіант)________*/

.practicing .last-child-3 .list > * {
	margin-bottom: 20px;
}

.practicing .last-child-3 .list h2 {
	font-size: 60px;
	text-align: center;
	color: darkolivegreen;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.practicing .last-child-3 .list a {
	display: inline-block;
	font-size: 50px;
	text-decoration: underline;
	color: chocolate;
	padding-left: 20px;
	margin-bottom: 30px;
}

.practicing .last-child-3 .list a:hover {
	color: rgb(169, 23, 185);
	text-shadow: 2px 2px 10px #a765af;
	text-decoration: none;
	text-transform: uppercase;
}

.practicing .last-child-3 .list > *:last-child {
	margin-bottom: 0px;
}

/*___________________псевдоелементи______________________*/

/*___________________before______________________*/

.practicing .before {
	background-color: #fff;
}

.practicing .before h2 {
	font-size: 60px;

	color: darkolivegreen;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.practicing .before .list .item {
	font-size: 50px;
	color: chocolate;
	padding-left: 20px;
	margin-bottom: 30px;
}

.practicing .before h2::before {
	width: 10px;
	height: 40px;
	border-radius: 10px;
	background-color: #8a33fd;
	content: "";
	display: inline-block;
	margin-right: 15px;
}

.practicing .before .list .item:not(:last-child) {
	margin-bottom: 20px;
}

.practicing .before .list .item::before {
	content: "";
	background-color: rgba(106, 118, 228, 0.536);
	border-radius: 50%;
	width: 28px;
	height: 28px;
	display: inline-block;
	margin-right: 20px;
}

.practicing .before .list .item:hover::before {
	background: url("../img/icons/violet_marker.jpg") 0 0 no-repeat;
}

/*_____________game______________*/

.game {
	margin: 0 auto 100px;
	max-width: 1100px;
}

.game-title {
	color: #18636a;
	font-family: "Poppins", sans-serif;
	font-size: 60px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 50px;
}

.game-box {
	width: 1100px;
	height: 800px;
	font-size: 0;
	margin: 0 auto;
	padding: 50px;
	border: solid 1px black;
}

.start {
	background-color: #7633fd;
}

[class*="line-"] {
	background-color: rgb(0, 130, 111);
	visibility: hidden;
}

.start {
	width: 50px;
	height: 50px;
	margin-left: 500px;
	background-color: #7633fd;
}

.line-1 {
	width: 50px;
	height: 100px;
	margin-left: 500px;
}
.line-2 {
	height: 50px;
	margin-left: 500px;
}
.line-3 {
	width: 35px;
	height: 100px;
	margin-left: 963px;
}
.line-4 {
	height: 35px;
	margin-left: 370px;
}

.line-5 {
	height: 115px;
	margin-left: 370px;
	width: 30px;
}
.line-6 {
	height: 25px;
	margin-left: 370px;
	width: 200px;
}
.line-7 {
	height: 125px;
	margin-left: 555px;
	width: 15px;
}

.line-8 {
	height: 70px;
	margin-left: 527px;
	width: 70px;
	background-color: #7633fd;
}

.start:hover + .line-1,
.line-1:hover {
	visibility: visible;
}

[class^="line"]:hover + [class^="line"],
[class^="line"]:hover {
	visibility: visible;
}

/*___________hover game____________*/
/*
.start:hover + .line-1,
.line-1:hover {
	visibility: visible;
}

.line-1:hover + .line-2,
.line-2:hover {
	visibility: visible;
}

.line-2:hover + .line-3,
.line-3:hover {
	visibility: visible;
}

.line-3:hover + .line-4,
.line-4:hover {
	visibility: visible;
}

.line-4:hover + .line-5,
.line-5:hover {
	visibility: visible;
}

.line-5:hover + .line-6,
.line-6:hover {
	visibility: visible;
}

.line-6:hover + .line-7,
.line-7:hover {
	visibility: visible;
}

.line-7:hover + .line-8,
.line-8:hover {
	visibility: visible;
}
*/
.line-8:hover {
	width: 100%;
	height: 100%;
	margin: -600px 0 0 0px;
	background: url("../img/jewellry/istockphoto.jpg") center/cover no-repeat;
}

/*_________макети___________*/
/*_____________why-us_________________*/

.why-us {
	font-family: "Inter", sans-serif;
	color: #7d7d7d;
	font-size: 18px;
	font-weight: 400;
	max-width: 732px;
	margin: 0 auto 100px auto;
	padding: 20px;
}

.why-us > * {
	margin-bottom: 13px;
}

.why-us .title,
.why-us .subtitle {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27; /* 38.1px */
}

.why-us .text > *:not(:last-child) {
	margin-bottom: 10px;
}

.why-us .text {
	line-height: 1.46;
}

.why-us .text:not(:last-child) {
	margin-bottom: 40px;
}

.why-us .blue-subtitle {
	color: #6b77e5;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27; /* 25.4px */
}
.why-us .image-block {
	margin-bottom: 50px;
	font-size: 0px;
}

.why-us .image-block .image,
.why-us .image-block .list-block {
	display: inline-block;
	min-height: 263px;
	vertical-align: top;
}

.why-us .image-block .image {
	width: 331px;
	background: url("../img/consulting/pc.jpg") center/cover no-repeat;
	margin-right: 29px;
}

.why-us .image-block .list-block {
	max-width: 332px;
}

.why-us .image-block .list-block .subtitle {
	font-size: 25px;
	margin-bottom: 15px;
}

.why-us .aqua-subtext {
	color: #40ddb6;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27; /* 25.4px */
	margin-bottom: 21px;
}

.why-us .image-block .list-block .list .item {
	font-size: 18px;
	line-height: 1.5; /* 27/18 */
}

.why-us .image-block .list-block .list .item::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	width: 27px;
	height: 27px;
	background: url("../img/icons/violet_marker.jpg") center/contain no-repeat;
	margin-right: 8px;
	border-radius: 50%;
}

.why-us .image-block .list-block .list > *:not(:last-child) {
	margin-bottom: 27px;
}

.why-us > *:last-child {
	margin-bottom: 0cm;
}

/*____________welcome______________*/

.welcome {
	font-family: "Inter", sans-serif;
	color: #7d7d7d;
	font-size: 18px;
	font-weight: 400;
	max-width: 713px;
	margin: 0 auto 190px;
	padding: 20px;
}

.welcome > * {
	margin-bottom: 10px;
}

.welcome .subtext {
	color: #37393f;
	font-weight: 500;
	line-height: 1.22; /* 22/18 */
	margin-bottom: 16px;
}

.welcome .subtext::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #40ddb6;
	margin-right: 6px;
}

.welcome .title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21; /* 48.4px */
}

.welcome .text {
	line-height: 1.46;
}

.welcome .text-block > *:not(:last-child) {
	margin-bottom: 26px;
}

.welcome .text-block {
	margin-bottom: 48px;
}

.welcome .box {
	padding: 28px 41px 28px 84px;
	border: 1px solid #e3e3e3;
}

.welcome .box {
	margin-bottom: 31px;
}

.welcome .box:last-of-type {
	margin-bottom: 48px;
}

.welcome .box .subtitle {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5; /* 30/20 */
	margin-bottom: 12px;
}

.welcome .box .subtitle::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	width: 27px;
	height: 27px;
	background: url("../img/icons/violet_marker.jpg") center/contain no-repeat;
	border-radius: 50%;
	margin: 0 19px 0 -46px;
}

.welcome .text-list > *:not(:last-child) {
	margin-bottom: 10px;
}

.button {
	display: inline-block;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	background: #6b77e5;
	padding: 21px 35px 22px 35px;
	text-align: center;
}

.button:hover {
	text-decoration: underline;
	background: #525bae;
	box-shadow: inset 0px 0px 10px -3px #b8b6db;
}

.welcome > *:last-child {
	margin-bottom: 0px;
}

/*_______________process_______________*/

.process {
	font-family: "Inter", sans-serif;
	color: #7d7d7d;
	font-size: 18px;
	font-weight: 400;
	max-width: 1260px;
	margin: 0 auto 100px;
	padding: 20px;
}

.process > * {
	margin-bottom: 16px;
}

.process .subtext {
	color: #37393f;
	font-weight: 500;
	line-height: 1.22; /* 22/18 */
	margin-bottom: 16px;
	text-align: center;
}

.process .subtext::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #40ddb6;
	margin-right: 6px;
}

.process .title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21; /* 48.4px */
	text-align: center;
	margin-bottom: 41px;
}

.process .box {
	font-size: 0px;
}

.process .box .block {
	display: inline-block;
	vertical-align: top;
	max-width: 386px;
	text-align: center;
	font-size: 0px;
}

.process .box .block:not(:last-of-type) {
	margin-right: 31px;
}

.process .box .block .experimental-icon {
	border-radius: 50%;
	margin-bottom: -36px;
}

.process .box .block .block-text {
	font-size: 18px;
	line-height: 1.46;
	padding: 58px 43px;
	background: #f4f4f4;
}

.process .box .block .block-text > *:not(:last-child),
.process .box .block .block-text .text > *:not(:last-child) {
	margin-bottom: 10px;
}

.process .box .block .block-text .subtitle {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27; /* 31.75px */
	margin-bottom: 16px;
}

.process .box .block .block-text .text {
	margin-bottom: 37px;
}

.process .box .block .block-text .link {
	font-size: 18px;
	color: #6b77e5;
	font-weight: 600;
	text-transform: capitalize;
	line-height: 1.22; /* 22/18 */
	display: inline-block;
}

.process .box .block .block-text .link:hover {
	text-decoration: underline;
	color: #535cb4;
}

.process > *:last-child {
	margin-bottom: 0px;
}

/*__________jewelry___________*/

.jewelry {
	max-width: 1254px;
	margin: 0 auto 100px;
	padding: 20px;
	font-size: 0px;
	color: #000;
	font-family: "Cormorant Infant", serif;
	font-weight: 700;
}

.jewelry .block-title,
.jewelry .block-jewels,
.jewelry .block-jewels .left-block-jewels,
.jewelry .block-jewels .right-block-jewels {
	display: inline-block;
	vertical-align: top;
}

.jewelry .block-title {
	max-width: 488px;
	padding-top: 150px;
}

.jewelry .block-title .title {
	font-size: 60px;
	line-height: 1.15; /* 69px */
}

.jewelry .block-title .title::after {
	content: "";
	display: block;
	width: 62.2%;
	height: 3px;
	background: #78473b;
	margin-top: 10px;
}

.jewelry .block-jewels {
	margin-left: -7px;
}

.jewelry .block-jewels .left-block-jewels > *,
.jewelry .block-jewels .right-block-jewels > * {
	margin-bottom: 25px;
}

.jewelry .block-jewels .left-block-jewels > *:last-child,
.jewelry .block-jewels .right-block-jewels > *:last-child {
	margin-bottom: 0px;
}

.jewelry .block-jewels .left-block-jewels .product-link > *,
.jewelry .block-jewels .right-block-jewels .product-link > * {
	margin-bottom: 4px;
}

.jewelry .block-jewels .left-block-jewels .product-link > *:last-child,
.jewelry .block-jewels .right-block-jewels .product-link > *:last-child {
	margin-bottom: 0px;
}

.jewelry .block-jewels .left-block-jewels {
	max-width: 334px;
	padding-top: 32px;
	margin-right: 45px;
}

.jewelry .block-jewels .product-link,
.jewelry .block-jewels .collection-link {
	display: inline-block;
}

.jewelry .block-jewels .left-block-jewels .experimental-image {
	max-width: 334px;
	padding: 9px 0 0 10px;
	background: url("../img/jewellry/ring-rectangle.png") left top/334px no-repeat;
	margin-bottom: 25px;
}

.jewelry .block-jewels .left-block-jewels .experimental-image .item {
	max-width: 334px;
}

.jewelry .block-jewels .name,
.jewelry .block-jewels .price {
	font-size: 24px;
	line-height: 1.4; /* 33.6px */
}

.jewelry .block-jewels .right-block-jewels {
	max-width: 339px;
}

.jewelry .block-jewels .right-block-jewels .collection-link .subtitle {
	font-size: 46px;
	line-height: 1.13; /* 51.98px */
}

.jewelry .block-jewels .right-block-jewels .collection-link {
	margin-bottom: 40px;
}

/* можна і border рамку, але тоді margin потрібен
.jewelry .block-jewels .right-block-jewels .product-link .image {
	padding: 9px 0 0 10px;
	border: 1px solid #000;

}

.jewelry .block-jewels .right-block-jewels .product-link .image .item {
	max-width: 384px;
	margin: 0px -10px -9px 0;
}
*/

.jewelry .block-jewels .right-block-jewels .product-link .image {
	margin-bottom: 25px;
	padding-left: 10px;
}

.jewelry .block-jewels .right-block-jewels .product-link .image .item {
	max-width: 384px;
	box-shadow:
		-9px -9px 0 0 #fff,
		-9px -9px 0px 1px #000;
}

.jewelry .block-jewels .right-block-jewels .product-link .image .item:hover {
	box-shadow:
		0 0 5px 1px #78473b,
		-9px -9px 0 0 #fff,
		-9px -9px 0px 1px #000;
}

.jewelry .block-jewels .left-block-jewels .product-link .experimental-image .item:hover {
	box-shadow: 0 0 5px 1px #78473b;
}

.jewelry .block-jewels .name:hover,
.jewelry .block-jewels .right-block-jewels .collection-link .subtitle:hover {
	text-decoration: underline;
}
