@import url("https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.page {
  background-image: url("../img/pattern.webp");
}
@media (min-width: 81.25em) {
  .page {
    background-size: 25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (background-size: clamp( 6.25rem , 0.1275510204rem  +  30.612244898vw , 25rem )) {
    .page {
      background-size: clamp( 6.25rem , 0.1275510204rem  +  30.612244898vw , 25rem );
    }
  }
  @supports not (background-size: clamp( 6.25rem , 0.1275510204rem  +  30.612244898vw , 25rem )) {
    .page {
      background-size: calc(6.25rem + 18.75 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .page {
    background-size: 6.25rem;
  }
}
@media (min-width: 81.25em) {
  .page {
    padding: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding: clamp( 0.9375rem , -0.3890306122rem  +  6.6326530612vw , 5rem )) {
    .page {
      padding: clamp( 0.9375rem , -0.3890306122rem  +  6.6326530612vw , 5rem );
    }
  }
  @supports not (padding: clamp( 0.9375rem , -0.3890306122rem  +  6.6326530612vw , 5rem )) {
    .page {
      padding: calc(0.9375rem + 4.0625 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .page {
    padding: 0.9375rem;
  }
}
@media (min-width: 81.25em) {
  .page__container > *:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (margin-bottom: clamp( 2.5rem , 2.0918367347rem  +  2.0408163265vw , 3.75rem )) {
    .page__container > *:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 2.0918367347rem  +  2.0408163265vw , 3.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , 2.0918367347rem  +  2.0408163265vw , 3.75rem )) {
    .page__container > *:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .page__container > *:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.exercise {
  background: #bcbdb5;
  border: 0.0625em solid #2f2e2d;
  -webkit-box-shadow: inset 0 0 5px 3px rgba(102, 100, 85, 0.645);
          box-shadow: inset 0 0 5px 3px rgba(102, 100, 85, 0.645);
  color: #2f2e2d;
  border-radius: 0.9375rem;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}
@media (min-width: 81.25em) {
  .exercise {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1rem , 0.9591836735rem  +  0.2040816327vw , 1.125rem )) {
    .exercise {
      font-size: clamp( 1rem , 0.9591836735rem  +  0.2040816327vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9591836735rem  +  0.2040816327vw , 1.125rem )) {
    .exercise {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .exercise {
    font-size: 1rem;
  }
}
@media (min-width: 81.25em) {
  .exercise {
    padding: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding: clamp( 0.9375rem , 0.631377551rem  +  1.5306122449vw , 1.875rem )) {
    .exercise {
      padding: clamp( 0.9375rem , 0.631377551rem  +  1.5306122449vw , 1.875rem );
    }
  }
  @supports not (padding: clamp( 0.9375rem , 0.631377551rem  +  1.5306122449vw , 1.875rem )) {
    .exercise {
      padding: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .exercise {
    padding: 0.9375rem;
  }
}
@media (min-width: 81.25em) {
  .exercise {
    max-width: 43.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (max-width: clamp( 18.75rem , 10.5867346939rem  +  40.8163265306vw , 43.75rem )) {
    .exercise {
      max-width: clamp( 18.75rem , 10.5867346939rem  +  40.8163265306vw , 43.75rem );
    }
  }
  @supports not (max-width: clamp( 18.75rem , 10.5867346939rem  +  40.8163265306vw , 43.75rem )) {
    .exercise {
      max-width: calc(18.75rem + 25 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .exercise {
    max-width: 18.75rem;
  }
}
@media (min-width: 81.25em) {
  .exercise > *:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (margin-bottom: clamp( 1.25rem , 1.0459183673rem  +  1.0204081633vw , 1.875rem )) {
    .exercise > *:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0459183673rem  +  1.0204081633vw , 1.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 1.0459183673rem  +  1.0204081633vw , 1.875rem )) {
    .exercise > *:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .exercise > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.exercise__title {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 81.25em) {
  .exercise__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1.375rem , 1.2117346939rem  +  0.8163265306vw , 1.875rem )) {
    .exercise__title {
      font-size: clamp( 1.375rem , 1.2117346939rem  +  0.8163265306vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.2117346939rem  +  0.8163265306vw , 1.875rem )) {
    .exercise__title {
      font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .exercise__title {
    font-size: 1.375rem;
  }
}
@media (min-width: 81.25em) {
  .exercise__condition > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (margin-bottom: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem )) {
    .exercise__condition > *:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem )) {
    .exercise__condition > *:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .exercise__condition > *:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.exercise__code {
  font-family: "Anonymous Pro", serif;
  background: rgba(203, 177, 135, 0.7450980392);
  font-weight: 600;
  border: 0.0625em solid rgb(102, 100, 85);
}
@media (min-width: 81.25em) {
  .exercise__code {
    padding: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (padding: clamp( 0.625rem , 0.5229591837rem  +  0.5102040816vw , 0.9375rem )) {
    .exercise__code {
      padding: clamp( 0.625rem , 0.5229591837rem  +  0.5102040816vw , 0.9375rem );
    }
  }
  @supports not (padding: clamp( 0.625rem , 0.5229591837rem  +  0.5102040816vw , 0.9375rem )) {
    .exercise__code {
      padding: calc(0.625rem + 0.3125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .exercise__code {
    padding: 0.625rem;
  }
}
@media (min-width: 81.25em) {
  .exercise__solution > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (margin-bottom: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem )) {
    .exercise__solution > *:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.625rem , 0.4209183673rem  +  1.0204081633vw , 1.25rem )) {
    .exercise__solution > *:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .exercise__solution > *:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.exercise__solution > *:last-child, .exercise__solution > *:first-child {
  font-weight: 600;
}