@import url("fonts.css");
@import url("reset.css");

/*------------------menu---------------*/

header .menu {
	max-width: 1258px;
	margin: 10px auto 50px auto;
	padding: 30px 10px 20px 40px;
	font-family: "Poppins", sans-serif;
	font-size: 0px;
	color: darkslategray;
	border: 5px double rgba(220, 151, 23, 0.6);
	border-radius: 90px 20px;
	box-shadow:
		4.3px 3.1px 3.6px rgba(255, 207, 14, 0.12),
		11.8px 8.6px 10px rgba(255, 205, 24, 0.078),
		28.3px 20.8px 24.1px rgba(255, 167, 24, 0.06),
		94px 69px 80px rgba(255, 164, 28, 0.042);
}

header .menu h1 {
	font-weight: 700;
	font-size: 28px;
	font-style: italic;
	display: inline-block;
	margin-right: 10%;
	vertical-align: middle;
}

header .menu .list {
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
}

header .menu .list li {
	display: inline-block;
	margin-right: 15px;
	text-decoration: underline;
}

/*---------------practicing---------------------*/

.practicing {
	color: slateblue;
	font-family: "Poppins", sans-serif;
	font-size: 22px;
	padding: 50px;
	margin: 0 auto 151px auto;
}

.practicing div {
	margin-bottom: 20px;
	outline: 3px solid cadetblue;
	padding: 40px;
}

.background-color {
	background-color: rgba(179, 73, 128, 0.781);
}

.background-image-1 {
	background-image: url("../img/pattern1.jpg");
}

.background-image-2 {
	background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.background-repeat-1 {
	background-image: url("../img/pattern1.jpg");
	background-repeat: no-repeat;
}

.background-repeat-2 {
	background-image: url("../img/pattern1.jpg");
	background-repeat: repeat-x;
}

.background-position-1 {
	background-image: url("../img/pattern1.jpg");
	background-repeat: no-repeat;
	background-position: 10px 30px;
}

.background-position-2 {
	background-image: url("../img/pattern1.jpg");
	background-repeat: no-repeat;
	background-position: right center;
}

.background-position-3 {
	background-image: url("../img/pattern1.jpg");
	background-repeat: no-repeat;
	background-position: 50%;
}

.background-position-4 {
	background-image: url("../img/pattern1.jpg");
	background-repeat: no-repeat;
	background-position: 10% 20%;
}

.background-attachment {
	background-image: url("../img/images1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.background-size {
	color: rgb(184, 222, 190);
	text-shadow: 1px 2px 5px #000000;
	font-weight: 600;
	background-image: url("../img/images3.png");
	background-size: 50px;
}

.background-size-1 {
	color: rgb(184, 222, 190);
	text-shadow: 1px 2px 5px #000000;
	font-weight: 600;
	background-image: url("../img/images2.jpg");
	background-size: 250px;
}

.background-size-2 {
	color: rgb(184, 222, 190);
	text-shadow: 1px 2px 5px #000000;
	font-weight: 600;
	background-image: url("../img/images2.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 250px;
}

.background-size-3 {
	color: rgb(184, 222, 190);
	text-shadow: 1px 2px 5px #000000;
	font-weight: 600;
	background-image: url("../img/images2.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto 250px;
}

.background-size-4 {
	color: rgb(184, 222, 190);
	text-shadow: 1px 2px 5px #000000;
	font-weight: 600;
	background-image: url("../img/images2.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 50%;
}

.background-size-5 {
	color: rgb(184, 222, 190);
	text-shadow: 1px 2px 5px #000000;
	font-weight: 600;
	background-image: url("../img/images2.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
}

.background-size-6 {
	color: rgb(184, 222, 190);
	text-shadow: 1px 2px 5px #000000;
	font-weight: 600;
	background-image: url("../img/images2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.background-universal-1,
.background-universal-2 {
	color: rgb(184, 222, 190);
	text-shadow: 1px 2px 5px #000000;
	font-weight: 600;
	background: rgba(179, 73, 128, 0.781) url("../img/images2.jpg") center / 50% no-repeat fixed;
}

.background-universal-3 {
	color: rgb(184, 222, 190);
	text-shadow: 1px 2px 5px #000000;
	font-weight: 600;
	background: rgba(148, 187, 233, 1) radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%)
		center / auto 50% no-repeat;
}

.background-universal-4 {
	color: rgb(184, 222, 190);
	text-shadow: 1px 2px 5px #000000;
	font-weight: 600;
	background:
		radial-gradient(circle, rgba(233, 204, 178, 1) 0%, rgba(225, 222, 210, 1) 100%) center/auto 70% no-repeat,
		url("../img/images2.jpg") center / cover no-repeat;
}

/*------------------consulting-welcome----------------------*/

.consulting-welcome {
	color: #7d7d7d;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	padding: 0 20px;
	max-width: 713px;
	margin: 0 auto 145px auto;
}

.consulting-welcome .title {
	color: #37393f;
	margin-bottom: 20px;
}

.consulting-welcome .title .subtext {
	font-weight: 500;
	line-height: 1.22; /* 22/18 */
	padding-left: 18px;
	min-height: 15px;
	background: url("../img/icons/blue_square.jpg") 0 5px no-repeat;
	margin-bottom: 16px;
}

.consulting-welcome .title h2 {
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21; /* 48.4px */
	max-width: 413px;
}

.consulting-welcome .content .text {
	line-height: 1.46; /* 26.314px */
	margin-bottom: 20px;
}

.consulting-welcome .content .text p {
	margin-bottom: 15px;
}

.consulting-welcome .content .list {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	line-height: 1.5; /* 30/20 */
	margin-bottom: 43px;
}

.consulting-welcome .content .list li {
	margin-bottom: 23px;
	padding-left: 35px;
	background: url("../img/icons/violet_marker.jpg") 0 3px no-repeat;
	min-height: 30px;
}

.consulting-welcome .content .icon-blocks {
	font-size: 0px;
	margin-bottom: 37px;
}

.consulting-welcome .content .icon-blocks .left-block {
	font-size: 16px;
	border: 1px solid #e3e3e3;
	display: inline-block;
	max-width: 295px;
	margin-right: 21px;
	padding: 31px 32px 32px 90px;
	background: url("../img/icons/scroll_icon.jpg") 32px 31px no-repeat;
}

.consulting-welcome .content .icon-blocks .right-block {
	font-size: 16px;
	border: 1px solid #e3e3e3;
	display: inline-block;
	max-width: 297px;
	padding: 31px 36px 32px 95px;
	background: url("../img/icons/cup_icon.jpg") 37px 31px no-repeat;
}

.consulting-welcome .content .icon-blocks .subtitle {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 3px;
}

.consulting-welcome .content .icon-blocks p {
	line-height: 1.35;
}

.consulting-welcome .content .button {
	color: #fff;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	line-height: 1.22; /* 22/18 */
	max-width: 184px;
	display: inline-block;
	padding: 21px 27px 22px 27px;
	background-color: #6b77e5;
}

/*--------------consulting-latest-projects ----------*/

.consulting-latest-projects {
	color: #7d7d7d;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	padding: 0 20px;
	max-width: 1260px;
	margin: 0 auto 150px auto;
}

.consulting-latest-projects .title {
	text-align: center;
	padding: 0 184px;
	margin-bottom: 47px;
}

.consulting-latest-projects .title span {
	display: inline-block;
	height: 12px;
	width: 12px;
	background-color: #40ddb6;
	margin-right: 6px;
}

.consulting-latest-projects .title .subtext {
	color: #37393f;
	font-weight: 500;
	line-height: 1.22; /* 22/18 */
	margin-bottom: 14px;
}

.consulting-latest-projects .title h2 {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21; /* 48.4px */
	margin-bottom: 14px;
}

.consulting-latest-projects .title .text {
	line-height: 1.46; /* 26.314px */
}

.consulting-latest-projects .content .top-block,
.consulting-latest-projects .content .bottom-block {
	font-size: 0px;
}

.consulting-latest-projects .content .top-block {
	margin-bottom: 58px;
}

.consulting-latest-projects .content .top-block a,
.consulting-latest-projects .content .bottom-block a {
	display: inline-block;
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27; /* 25.4px */
	margin-bottom: 10px;
}

.consulting-latest-projects .content .top-block p,
.consulting-latest-projects .content .bottom-block p {
	font-size: 14px;
	padding-left: 26px;
	line-height: 1.46;
}

.consulting-latest-projects .content .first-item,
.consulting-latest-projects .content .second-item,
.consulting-latest-projects .content .third-item {
	width: 384px;
	height: 582px;
	display: inline-block;
	padding-top: 525px;
}

.consulting-latest-projects .content .top-block .first-item {
	background:
		url("../img/consulting/computer.jpg") no-repeat,
		url("../img/icons/calendar.jpg") 0 560px no-repeat;
	margin-right: 34px;
}

.consulting-latest-projects .content .top-block .second-item {
	background:
		url("../img/consulting/men_with_pc.jpg") no-repeat,
		url("../img/icons/calendar.jpg") 0 560px no-repeat;
	margin-right: 34px;
}

.consulting-latest-projects .content .top-block .third-item {
	background:
		url("../img/consulting/phone.jpg") no-repeat,
		url("../img/icons/calendar.jpg") 0 560px no-repeat;
}

.consulting-latest-projects .content .bottom-block .first-item {
	background:
		url("../img/consulting/women.jpg") no-repeat,
		url("../img/icons/calendar.jpg") 0 560px no-repeat;
	margin-right: 34px;
}

.consulting-latest-projects .content .bottom-block .second-item {
	background:
		url("../img/consulting/diagrams.jpg") no-repeat,
		url("../img/icons/calendar.jpg") 0 560px no-repeat;
	margin-right: 34px;
}

.consulting-latest-projects .content .bottom-block .third-item {
	background:
		url("../img/consulting/coffee.jpg") no-repeat,
		url("../img/icons/calendar.jpg") 0 560px no-repeat;
}

/*---------------------------euphoria----------*/

.euphoria {
	font-family: "Causten", sans-serif;
	color: #807d7e;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.4px;
	max-width: 1280px;
	padding: 0 20px;
	margin: 0 auto 100px auto;
}

.euphoria .title {
	font-size: 0px;
	margin-bottom: 30px;
}

.euphoria .title h2 {
	color: #3c4242;
	font-family: "Core Sans C", sans-serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.11; /* 31/28 */
	letter-spacing: 0.56px;
	padding-left: 21px;
	background: url("../img/icons/violet_rectangle.jpg") no-repeat;
}

.euphoria .content {
	padding-left: 21px;
}

.euphoria .content .subtitle,
.euphoria .content .link {
	color: #807d7e;
	font-family: "Core Sans C", sans-serif;
	font-weight: 600;
	line-height: 1.7; /* 167.5% */
	margin-bottom: 25px;
}

.euphoria .content .text1 {
	margin-bottom: 25px;
}

.euphoria .content .text2 {
	margin-bottom: 20px;
}

.euphoria .content .text p {
	line-height: 1.7; /* 167.5% */
	margin-bottom: 20px;
}

.euphoria .content .text .bold-euphoria {
	font-weight: 700;
}

/*------------euphoria-images-----------------*/

.euphoria-images {
	color: #fff;
	font-family: "Causten", sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin: 0 auto 100px auto;
	max-width: 1280px;
	padding: 0 20px;
}

.euphoria-images .content {
	padding: 179px 700px 175px 74px;
	background:
		url("../img/euphoria/leaves.jpg") top left no-repeat,
		url("../img/euphoria/young-people.jpg") top right no-repeat;
}

.euphoria-images .content h2 {
	font-family: "Core Sans C", sans-serif;
	font-size: 34px;
	font-weight: 800;
	line-height: 1.47; /* 50/34 */
	letter-spacing: 0.208px;
	margin-bottom: 18px;
}

.euphoria-images .content p {
	line-height: 1.22;
	letter-spacing: 1px;
	margin-bottom: 60px;
}

.euphoria-images .content .button {
	display: inline-block;
	color: #3c4242;
	font-family: "Causten", sans-serif;
	font-size: 18px;
	line-height: 1.22; /* 22/18 */
	font-weight: 600;
	border-radius: 8px;
	background: #fff;
	padding: 12px 44px;
}

/*-----------------------футер---*/

footer .up {
	max-width: 350px;
	margin: 0 auto 100px auto;
}

footer a {
	color: rgb(23, 126, 127);
	display: inline-block;
	font-family: "Core Sans C", sans-serif;
	font-weight: 800;
	font-size: 28px;
	padding: 25px 30px 25px 70px;
	background:
		url("../img/icons/up-arrow-blue-gradient.png") 20px 22px no-repeat,
		radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 216, 45, 1) 100%);
	border-radius: 15px;
	box-shadow:
		0px 0px 10px rgba(0, 0, 0, 0.105),
		0px 0px 80px rgba(0, 0, 0, 0.19);
	text-shadow: 0px 3px 3px rgba(223, 255, 248, 0.442);
}
