//--------Оператори--------
@use "sass:math";
//-------- Ширина спрацьовування першого брейкпоінту--------
$minWidth: 320; // Мінімальна ширина сторінки
$maxWidth: 1920; // Ширина полотна (макету)
$maxWidthContainer: 1220; // Ширина обмежувального контейнера (0 = немає обмеження)
$containerPadding: 30; // Загальний відступ у контейнера (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerWidth: $maxWidthContainer + $containerPadding; // Ширина спрацьовування першого брейкпоінту
//--------Обнулення--------
@import "_reset.scss";
//--------Шрифти--------
@import "_fonts.scss";
// Компоненти
@import "_common.scss";
// Функції
@import "_functions.scss";
// break points
$pc: toEm(1239.98);
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(479.98);
//--------Змінні--------
$font: #2f2e2d;
$mainBackground: #bc9886;
$background: #b8674a;
//--------Загальні--------
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper>main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: #{$containerWidth}px;
	margin: 0 auto;
	//padding: 0 toRem(15);
}
body {
	opacity: 0;
}
.opacity-1 {
	opacity: 1;
}
.header, .footer {
	background: $background;
	text-align: center;
	font-family: "Raleway", sans-serif;
	@include adaptiveValue("font-size", 30, 20);
	@include adaptiveValue("padding", 35, 15);
	font-weight: 400;
	color: $font;
	&--green {
		background-color: #c2cca6;
	}
}
.page {
	background-image: url("../img/pattern.webp");
	@include adaptiveValue("background-size", 400, 200);
	@include adaptiveValue("padding", 80, 15);
	font-family: "Raleway", sans-serif;
	@include adaptiveValue("font-size", 20, 16);
	font-weight: 400;
	// .page__container
	&__container {
		background: $mainBackground;
		@include adaptiveValue("padding", 50, 15);
		border: toEm(1) solid $font;
		box-shadow: inset 0 0 5px 3px rgba(102, 100, 85, 0.645);
		color: $font;
		border-radius: toRem(15);
		&>*:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 40);
		}
	}
}
.list {
	@include adaptiveValue("padding", 30, 15);
	background: $background;
	font-size: toRem(20);
	border: toEm(1) solid $font;
	border-radius: toRem(5);
	font-weight: 600;
	&>*:not(:last-child) {
		@include adaptiveValue("margin-bottom", 20, 10);
	}
}
.link,
.button {
	@include adaptiveValue("padding", 30, 15);
	background: $background;
	font-size: toRem(20);
	border: toEm(1) solid $font;
	border-radius: toRem(10);
	font-weight: 600;
}
.button-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 600;
	font-size: toRem(26);
	color: #7d250a;
	&>*:not(:last-child) {
		@include adaptiveValue("margin-bottom", 30, 10);
	}
}
.main-item {
	background: #b3330d;
	color: $mainBackground;
	font-size: toRem(28);
	border: toEm(2) solid #7d250a;
	border-radius: toRem(10);
	font-weight: 600;
	text-align: center;
	@include adaptiveValue("padding", 30, 15);
	@include adaptiveValue("min-width", 150, 100);
}