//--------Оператори--------
@use "sass:math";
//--------Обнулення--------
@import "_reset.scss";
//--------Шрифти--------
@import "_fonts.scss";
//--------Змінні--------
$mainColor: #807D7E;
$boldColor: #3C4242;
$greyBg: #F6F6F6;
$white: #FFFFFF;
// break points
$pc: 1239.98px;
$tablet: 991.98px;
$menuBurger: 850px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
//--------Шаблон--------
%purple-title {
	display: flex;
	gap: 20px;
	align-items: center;
	font-family: "Core Sans C", sans-serif;
	font-size: 34px;
	font-weight: 600;
	letter-spacing: 0.68px;
	color: $boldColor;
	text-transform: capitalize;
	&::before {
		content: "";
		width: 6px;
		height: 30px;
		border-radius: 10px;
		background: #8a33fd;
		flex: 0 0 6px;
	}
}
//--------Загальні--------
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper>main {
	flex-grow: 1;
}
.page {
	display: flex;
	flex-direction: column;
	gap: 100px;
	margin-top: 108px;
	margin-bottom: 100px;
	@media (max-width:$menuBurger) {
		margin-top: 68px;
	}
	@media (max-width:$tablet) {
		gap: 60px;
		margin-bottom: 60px;
	}
	@media (max-width:$mobileSmall) {
		gap: 40px;
		margin-bottom: 40px;
	}
}
[class*="__container"] {
	max-width: 1270px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
//----------Верстка----------
//----------header----------
.header {
	border-bottom: 1px solid #707373;
	padding: 4px 0;
	width: 100%;
	font-family: "Causten", sans-serif;
	font-weight: 500;
	color: $mainColor;
	background-color: $white;
	// .header--fixed
	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}
	// .header__container
	&__container {
		min-height: 100px;
		display: flex;
		gap: 20px;
		justify-content: center;
		align-items: center;
		@media (min-width:$pc) {
			gap: 76px;
		}
		@media (max-width:$menuBurger) {
			min-height: 60px;
			gap: 10px;
		}
	}
	// .header__logo
	&__logo {
		flex: 0 0 91px;
		width: 91px;
		aspect-ratio: 91/45;
		object-fit: contain;
		object-position: center;
		@media (max-width:$menuBurger) {
			transform: scale(0.8);
		}
	}
	// .header__actions
	&__actions {
		flex: 0 1 auto;
		display: flex;
		gap: 12px;
		align-items: center;
		@media (max-width:$menuBurger) {
			gap: 8px;
		}
	}
}
.menu {
	font-size: 22px;
	flex: 1 1 auto;
	// .menu__body
	&__body {
		width: 100%;
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
		@media (max-width:$menuBurger) {
			flex-direction: column-reverse;
			justify-content: flex-end;
			align-items: flex-end;
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			left: 0;
			top: 100%;
			transition: top 0.3s ease-in;
			padding: 30px 30px;
			background-color: rgba(166, 198, 219, 0.98);
		}
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 8px 30px;
		@media (min-width:$pc) {
			gap: 8px 40px;
		}
		@media (max-width:$menuBurger) {
			flex-direction: column;
			text-align: right;
			row-gap: 25px;
		}
	}
	&__link {
		transition: all 0.3s ease-in-out;
	}
	// .menu__item
	&__item {
		// .menu__item--active
		&--active {
			font-weight: 700;
			color: $boldColor;
		}
		@media (any-hover:hover) {
			&:hover {
				// .menu__link
				.menu__link {
					color: $boldColor;
					transform: scale(1.04);
					text-decoration: underline;
				}
			}
		}
	}
}
.search {
	flex: 0 1 267px;
	min-width: 180px;
	height: 44px;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	transition: border 0.3s ease-in-out;
	@media (max-width:$menuBurger) {
		flex: 0 0 auto;
	}
	&::before {
		content: "";
		background: url("../img/icon__search.svg") center no-repeat;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 11px;
		left: 7px;
		@media (min-width:$pc) {
			left: 20px;
		}
	}
	// .search__input
	&__input {
		height: 44px;
		background-color: $greyBg;
		padding-left: 32px;
		padding-right: 10px;
		width: 100%;
		border-radius: 8px;
		border: 1px solid transparent;
		@media (min-width:$pc) {
			padding-left: 52px;
			padding-right: 20px;
		}
		@media (any-hover:hover) {
			&:hover {
				border: 1px solid $boldColor;
			}
		}
	}
}
.actions-header {
	// .actions-header__body
	&__body {
		display: flex;
		gap: 12px;
	}
	// .actions-header__image-link
	&__image-link {
		background-color: $greyBg;
		border-radius: 8px;
		padding: 12px;
		flex: 0 0 44px;
		width: 44px;
		height: 44px;
		transition: border 0.3s ease-in-out;
		border: 1px solid transparent;
		@media (max-width:$mobileSmall) {
			padding: 8px;
			flex: 0 0 36px;
			width: 36px;
			height: 36px;
		}
		@media (any-hover:hover) {
			&:hover {
				border: 1px solid $boldColor;
			}
		}
	}
	// .actions-header__image
	&__image {
		width: 100%;
		height: 100%;
		aspect-ratio: 20/20;
		object-fit: contain;
		object-position: center;
	}
}
.icon-menu {
	display: none;
	@media (max-width:$menuBurger) {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		width: 30px;
		position: relative;
		z-index: 5;
		&::before,
		&::after,
		& span {
			content: "";
			height: 2px;
			width: 100%;
			position: absolute;
			left: 0;
			background-color: $boldColor;
			border-radius: 2px;
			transition: all 0.3s ease-in-out;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		& span {
			top: 50%;
			margin-top: -1px;
		}
	}
}
.menu-open {
	& body {
		overflow: hidden;
	}
	@media (max-width:$menuBurger) {
		& .menu__body {
			top: 68px;
		}
		& .menu__item {
			opacity: 0;
			visibility: hidden;
			transform: translate(-100%, 0);
			animation: show-items 1s forwards;
			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
					$delay: ($i - 1) * 0.1;
					animation-delay: #{$delay}s;
				}
			}
		}
		& .icon-menu {
			& span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(45deg);
				top: 50%;
				margin-top: -1px;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 50%;
				margin-bottom: -1px;
			}
		}
	}
}
@keyframes show-items {
	0% {}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
}
//----------main----------
//----------hero----------
.hero {
	font-family: "Core Sans C", sans-serif;
	color: $white;
	position: relative;
	flex: 1 1 auto;
	display: flex;
	padding: 130px 0 50px 0;
	@media (min-width:$tablet) {
		min-height: 724px;
	}
	@media (min-width:$pc) {
		min-height: 824px;
	}
	@media (max-width:$tablet) {
		padding: 50px 0;
	}
	// .hero__background
	&__background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		aspect-ratio: 1449/716;
		object-fit: cover;
		object-position: top;
		width: 100%;
		height: 100%;
	}
	// .hero__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		&--left {
			left: 40px;
			@media (max-width:$pc) {
				left: 15px;
			}
			@media (max-width:$mobileSmall) {
				left: 5px;
				transform: scale(0.7);
			}
		}
		// .hero__arrow--right
		&--right {
			right: 40px;
			transform: rotate(180deg);
			@media (max-width:$pc) {
				right: 15px;
			}
			@media (max-width:$mobileSmall) {
				right: 5px;
				transform: rotate(180deg) scale(0.7);
			}
		}
	}
	// .hero__container
	&__container {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		justify-content: space-between;
	}
	&__box {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
		@media (max-width:$mobileSmall) {
			display: block;
		}
	}
	// .hero__content
	&__content {
		padding: 0 60px;
		max-width: 540px;
		align-self: center;
		@media (min-width:$pc) {
			padding: 0px 0 0px 80px;
		}
		@media (max-width:$mobileSmall) {
			padding: 0 25px;
		}
		&>*:not(:last-child) {
			margin-bottom: 40px;
			@media (max-width:$menuBurger) {
				margin-bottom: 20px;
			}
		}
	}
	// .hero__label
	&__label {
		font-size: 32px;
		font-weight: 500;
		line-height: 37.771px;
		/* 118.035% */
		letter-spacing: 0.157px;
		text-transform: capitalize;
		@media (max-width:$pc) {
			font-size: 28px;
		}
		@media (max-width:$mobileSmall) {
			font-size: 20px;
			line-height: 30px;
		}
		// .hero__label--spacing
		&--spacing {
			letter-spacing: 0.315px;
			text-transform: none;
		}
	}
	// .hero__title
	&__title {
		font-size: 78px;
		font-weight: 800;
		line-height: 93.622px;
		/* 120.028% */
		letter-spacing: 0.315px;
		@media (max-width:$pc) {
			font-size: 54px;
			line-height: 62px;
		}
		@media (max-width:$mobileSmall) {
			font-size: 44px;
			line-height: 52px;
		}
	}
	// .hero__link
	&__link {
		padding: 16px 72px;
		border-radius: 8px;
		background: $white;
		color: $boldColor;
		text-align: center;
		font-family: "Causten", sans-serif;
		font-size: 24px;
		font-weight: 700;
		@media (max-width:$menuBurger) {
			padding: 16px 40px;
		}
	}
	// .hero__slider-bar
	&__slider-bar {
		align-self: center;
		display: flex;
	}
}
.slider-bar {
	border-radius: 8px;
	overflow: hidden;
	&__line {
		width: 63px;
		height: 10px;
		background-color: rgba(255, 255, 255, 0.5);
		&--active {
			background-color: $white;
		}
	}
}
//----------offers----------
.offers {
	&--margin {
		@media (min-width:$pc) {
			margin-top: 30px;
		}
	}
	// .offers__container
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		gap: 30px;
		justify-content: center;
		@media (max-width:$tablet) {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		}
		@media (max-width:$mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
			gap: 20px;
		}
	}
	// .offers__card
	&__card {
		/*max-width: 605px;*/
		border-radius: 12px;
		box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
		padding: 67px 228px 50px 28px;
		color: $white;
		font-family: "Core Sans C", sans-serif;
		transition: transform 0.3s;
		position: relative;
		overflow: hidden;
		&>* {
			margin-bottom: 20px;
		}
		&>*:last-child {
			margin-bottom: 0px;
		}
		@media (max-width: 1150px) {
			padding: 47px 78px 40px 28px;
		}
		@media (max-width:$tablet) {
			padding: 30px 40px 30px 22px;
		}
		@media (max-width:$mobileSmall) {
			padding: 20px 10px 20px 15px;
			text-shadow: 1px 1px 2px #000000ac;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.01);
			}
		}
	}
}
.card {
	// .card--bg-yellow
	&--bg-yellow {
		background: url("../img/offers/offers__img-1/offers__img-1_1x.webp") top / cover no-repeat;
	}
	// .card--bg-blue
	&--bg-blue {
		background: url("../img/offers/offers__img-2/offers__img-2_1x.webp") top / cover no-repeat;
	}
	// .card__label
	&__label {
		font-family: "Montserrat", sans-serif;
		font-size: 18px;
		font-weight: 800;
		line-height: 167.038%;
		/* 167.038% */
		letter-spacing: 0.251px;
		&:not(:last-child) {
			margin-bottom: 24px;
			@media (max-width:$tablet) {
				margin-bottom: 20px;
			}
			@media (max-width:$mobileSmall) {
				margin-bottom: 15px;
			}
		}
		@media (max-width:$tablet) {
			line-height: 120%;
		}
		@media (max-width:$mobileSmall) {
			font-size: 16px;
		}
	}
	// .card__title
	&__title {
		font-size: 34px;
		font-weight: 600;
		line-height: 132.648%;
		@media (max-width:$tablet) {
			font-size: 28px;
			line-height: 120%;
		}
		@media (max-width:$mobileSmall) {
			font-size: 24px;
		}
	}
	// .card__text
	&__text {
		font-size: 16px;
		font-weight: 500;
		line-height: 156.598%;
		letter-spacing: 0.251px;
		&:not(:last-child) {
			margin-bottom: 42px;
			@media (max-width:$tablet) {
				margin-bottom: 22px;
			}
			@media (max-width:$mobileSmall) {
				margin-bottom: 18px;
			}
		}
		@media (max-width:$tablet) {
			line-height: 120%;
		}
	}
	// .card__link
	&__link {
		font-size: 20px;
		font-weight: 600;
		line-height: 150.66%;
		@media (max-width:$tablet) {
			line-height: 120%;
			font-size: 20px;
			font-weight: 600;
		}
		@media (max-width:$mobileSmall) {
			font-size: 18px;
			font-weight: 600;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//----------new----------
.new {
	color: $boldColor;
	// .new__container
	&__container {}
	// .new__title
	&__title {
		@extend %purple-title;
		&:not(:last-child) {
			margin-bottom: 70px;
			@media (max-width:$tablet) {
				margin-bottom: 30px;
			}
		}
	}
	// .new__content
	&__content {
		position: relative;
	}
	// .new__button
	&__button {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		width: 14px;
		height: 12px;
		@media (max-width: 652px) {
			display: none;
		}
		// .new__button--left
		&--left {
			left: 0;
		}
		// .new__button--right
		&--right {
			right: 0;
		}
	}
	// .new__icon-arrow
	&__icon-arrow {
		width: 100%;
		height: 100%;
		// .new__icon-arrow--right
		&--right {
			transform: rotate(180deg);
		}
	}
	// .new__slider
	&__slider {
		padding: 0px 36px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
		gap: 38px;
		@media (max-width: $mobile) {
			padding: 0px 25px;
			gap: 30px;
		}
		@media (max-width: 652px) {
			padding: 0px 0px;
			grid-template-columns: auto;
		}
	}
}
.slider {
	// .slider__item
	&__item {
		display: grid;
		gap: 33px;
		@media (max-width:$tablet) {
			gap: 15px;
		}
	}
	// .slider__link-img
	&__link-img {
		display: block;
		overflow: hidden;
		border-radius: 12px;
	}
	// .slider__img
	&__img {
		width: 100%;
		height: 100%;
		aspect-ratio: 263 / 263;
		object-fit: cover;
		transition: transform 0.3s ease-in-out;
		border-radius: 12px;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.03);
			}
		}
	}
	// .slider__body
	&__body {
		&>*:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	// .slider__link-title
	&__link-title {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .slider__title
	&__title {
		font-family: "Causten", sans-serif;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.2px;
		@media (max-width: $mobile) {
			font-size: 24px;
		}
	}
}
//----------saving----------
.saving {
	// .saving__container
	&__container {}
	// .saving__title
	&__title {
		@extend %purple-title;
		&:not(:last-child) {
			margin-bottom: 70px;
			@media (max-width:$tablet) {
				margin-bottom: 30px;
			}
		}
	}
	// .saving__content
	&__content {
		display: grid;
		gap: 20px;
		&>*:nth-child(5n + 1),
		&>*:nth-child(5n + 2),
		&>*:nth-child(5n + 3) {
			@media (min-width:($mobile + 0.02px)) {
				grid-column: span 2;
			}
		}
		&>*:nth-child(5n + 4),
		&>*:nth-child(5n + 5) {
			@media (min-width:($mobile + 0.02px)) {
				grid-column: span 3;
			}
			& .item-saving__link {
				border-radius: 4px;
				border: 2px solid $boldColor;
				padding: 11px 35.5px;
			}
			& .item-saving__arrow {
				width: 27px;
				height: 24px;
			}
		}
		@media (min-width:($mobile + 0.02px)) {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
		}
		@media (max-width:$mobile) {
			grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		}
	}
	// .saving__item
	&__item {
		position: relative;
		min-height: 393px;
		transition: transform 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.02);
			}
		}
	}
}
.item-saving {
	// .item-saving__image
	&__image {
		aspect-ratio: 400 / 393;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		border-radius: 12px;
	}
	// .item-saving__body
	&__body {
		padding: 65px 26px;
		font-family: "Causten", sans-serif;
		display: grid;
		grid-template-columns: repeat(2, 155px);
		justify-content: space-between;
		@media (max-width: 1150px) {
			grid-template-columns: repeat(2, 1fr)
		}
		@media (max-width:$tablet) {
			padding: 45px 26px;
		}
		// .item-saving__body--white
		&--white {
			color: $white;
			& .item-saving__link {
				border: 1px solid $white;
				transition: all 0.3s ease-out;
				@media (any-hover: hover) {
					background-color: $white;
					color: $boldColor;
				}
			}
		}
		// .item-saving__body--padding-right-16px
		&--padding-right-16px {
			padding: 65px 16px;
		}
		// .item-saving__body--black
		&--black {
			color: $boldColor;
			.item-saving__link {
				border: 1px solid $boldColor;
				transition: all 0.3s ease-out;
				@media (any-hover: hover) {
					&:hover {
						background-color: $boldColor;
						color: $white;
					}
				}
			}
		}
		// .item-saving__body--padding
		&--padding {
			padding: 45px 100px;
			@media (max-width: 1150px) {
				padding: 45px 80px;
			}
		}
	}
	// .item-saving__inner
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		// .item-saving__inner--right
		&--right {
			grid-column: 2/3;
		}
		// .item-saving__inner--text-align-right
		&--text-align-right {
			align-items: flex-end;
			text-align: right;
		}
	}
	// .item-saving__title
	&__title {
		font-family: "Core Sans C", sans-serif;
		font-size: 28px;
		font-weight: 600;
		line-height: 137%;
		letter-spacing: 0.56px;
		text-transform: capitalize;
		@media (max-width:$tablet) {
			font-size: 28px;
			line-height: 120%;
		}
		// .item-saving__title--big
		&--big {
			font-size: 32px;
			letter-spacing: 0.64px;
		}
	}
	// .item-saving__label
	&__label {
		font-size: 14px;
		font-weight: 600;
		@media (max-width:$tablet) {
			font-size: 16px;
		}
		// .item-saving__label--big
		&--big {
			font-size: 16px;
		}
	}
	// .item-saving__text
	&__text {
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width:$tablet) {
			font-size: 18px;
		}
	}
	// .item-saving__arrow
	&__arrow {
		width: 23px;
		height: 21px;
		display: block;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		// .item-saving__arrow--margin-left
		&--margin-left {
			margin-left: 45px;
		}
		// .item-saving__arrow--margin-right
		&--margin-right {
			margin-right: 45px;
		}
	}
	// .item-saving__link
	&__link {
		flex-shrink: 0;
		white-space: nowrap;
		text-align: center;
		font-size: 12px;
		font-weight: 500;
		padding: 10px 25px;
		border-radius: 4px;
		text-transform: uppercase;
	}
	// .item-saving__limited
	&__limited {
		color: $white;
		text-align: center;
		font-size: 12px;
		font-weight: 700;
		border-radius: 4px;
		background: $boldColor;
		padding: 10px 16px;
		&:first-child {
			margin-top: -30px;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
//----------banner----------
.banner {
	// .banner__container
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
		gap: 20px 0px;
		@media (max-width:$tablet) {
			grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		}
		@media (max-width:$mobile) {
			grid-template-columns: auto;
		}
	}
	// .banner__half
	&__half {
		position: relative;
		// .banner__half--left
		&--left {
			border-radius: 12px 0 0 12px;
			overflow: hidden;
			display: flex;
			justify-content: center;
			@media (max-width:$mobile) {
				border-radius: 12px;
			}
		}
		// .banner__half--right
		&--right {
			border-radius: 0 12px 12px 0;
			overflow: hidden;
			@media (max-width:$mobile) {
				display: none;
			}
		}
	}
	// .banner__background
	&__background {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		object-position: center;
		object-fit: cover;
		aspect-ratio: 614/640;
		width: 100%;
		height: 100%;
	}
	// .banner__content
	&__content {
		max-width: 466px;
		padding: 100px 50px;
		&>* {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
		@media (min-width:$pc) {
			padding: 183px 0 175px 0;
		}
		@media (max-width:$tablet) {
			padding: 60px 30px;
		}
		@media (max-width:$mobile) {
			padding: 40px 25px;
		}
	}
	// .banner__title
	&__title {
		color: $white;
		font-family: "Core Sans C", sans-serif;
		font-size: 34px;
		font-weight: 800;
		line-height: 50px;
		/* 147.059% */
		letter-spacing: 0.208px;
		text-transform: uppercase;
		@media (max-width:$tablet) {
			font-size: 30px;
			line-height: 40px;
		}
		@media (max-width:$mobile) {
			font-size: 26px;
			line-height: 30px;
		}
	}
	// .banner__text
	&__text {
		color: $white;
		font-family: "Causten", sans-serif;
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 1px;
		margin-bottom: 50px;
		@media (max-width:$tablet) {
			margin-bottom: 30px;
		}
	}
	// .banner__link
	&__link {
		border-radius: 8px;
		background: $white;
		padding: 12px 44px;
		color: $boldColor;
		text-align: center;
		font-family: "Causten", sans-serif;
		font-size: 18px;
		font-weight: 600;
		text-transform: capitalize;
		transition: all 0.3s ease-in-out;
		@media (max-width:$mobile) {
			padding: 12px 30px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $boldColor;
				color: $white;
				text-decoration: underline;
			}
		}
	}
}
//----------men + women----------
.men,
.women,
.popular {
	// .men__container
	&__container {}
	// .men__title
	&__title {
		@extend %purple-title;
		&:not(:last-child) {
			margin-bottom: 70px;
			@media (max-width:$tablet) {
				margin-bottom: 30px;
			}
		}
	}
	// .men__products
	&__products {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		gap: 50px;
		@media (max-width:$tablet) {
			gap: 30px;
		}
		@media (max-width:$mobile) {
			gap: 20px;
		}
	}
}
.product {
	font-family: "Causten", sans-serif;
	// .product__item
	&__item {
		position: relative;
		&>*:not(:last-child) {
			margin-bottom: 15px;
			@media (max-width:$tablet) {
				margin-bottom: 5px;
			}
		}
	}
	// .product__link-image
	&__link-image {
		width: 100%;
		border-radius: 10px;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
			aspect-ratio: 270/393;
			object-fit: cover;
			object-position: center;
			transition: all 0.3s ease-in-out;
			@media (any-hover: hover) {
				&:hover {
					opacity: 0.95;
					transform: scale(1.02);
				}
			}
		}
	}
	// .product__body
	&__body {
		display: flex;
		gap: 10px;
	}
	// .product__content
	&__content {
		flex: 1 1 auto;
		&>*:not(:last-child) {
			margin-bottom: 7px;
			@media (max-width:$tablet) {
				margin-bottom: 3px;
			}
		}
	}
	// .product__title
	&__title {
		color: #2A2F2F;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: -0.715px;
		// .product__title--font
		&--font {
			font-size: 16px;
			font-weight: 600;
			line-height: normal;
			color: $boldColor;
		}
		@media (max-width:$tablet) {
			font-size: 26px;
		}
		@media (max-width:$mobile) {
			font-size: 22px;
		}
	}
	// .product__link-title
	&__link-title {
		text-transform: capitalize;
		transition: color 0.3s ease-in-out;
		&::after {
			content: "";
			display: block;
			width: 0;
			height: 1.5px;
			margin-top: 2px;
			background-color: $boldColor;
			transition: width 0.3s ease-in-out;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $boldColor;
				&::after {
					width: 100%;
				}
			}
		}
	}
	// .product__text
	&__text {
		color: #7F7F7F;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: -0.536px;
		@media (max-width:$tablet) {
			font-size: 20px;
		}
	}
	// .product__arrow
	&__arrow {
		flex: 0 0 18px;
		width: 18px;
		align-self: center;
		background: url("../img/men/arrow-1.svg") center / contain no-repeat;
		min-height: 20px;
		transition: opacity 0.3s ease-in-out;
		@media (max-width:$tablet) {
			transform: scale(1.5);
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
	// .product__price
	&__price {
		border-radius: 8px;
		background: $greyBg;
		padding: 10px 16px;
		font-size: 14px;
		font-weight: 700;
		flex: 0 0 auto;
		align-self: flex-start;
		@media (max-width:$tablet) {
			font-size: 22px;
		}
	}
	// .product__favorite-button
	&__favorite-button {
		position: absolute;
		z-index: 5;
		top: 26px;
		right: 20px;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		padding: 4px 5px;
		background: $white;
		transition: transform 0.3s ease-out;
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background: url("../img/icon__favorite.svg") center / contain no-repeat;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.06);
				border: 1px solid $boldColor;
				//background: $greyBg;
			}
		}
	}
}
//----------deal----------
.deal {
	font-family: "Causten", sans-serif;
	color: $white;
	// .deal__container
	&__container {}
	// .deal__box
	&__box {
		padding: 45px 10px 60px 10px;
		border-radius: 12px;
		border: 1px solid #323232;
		background: $boldColor;
		display: flex;
		flex-direction: column;
		gap: 25px;
		align-items: center;
		@media (max-width:$tablet) {
			padding: 30px 10px;
			gap: 15px;
		}
	}
	// .deal__title
	&__title {
		font-family: "Core Sans C", sans-serif;
		text-transform: capitalize;
		text-align: center;
		font-size: 50px;
		font-weight: 800;
		@media (max-width:$tablet) {
			font-size: 40px;
		}
		@media (max-width:$mobileSmall) {
			font-size: 34px;
		}
	}
	// .deal__subtitle
	&__subtitle {
		font-size: 22px;
		text-align: center;
		& span {
			color: #FBD103;
		}
	}
	// .deal__content
	&__content {
		flex: 1 0 auto;
		/*display: grid;
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));*/
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 25px;
		&:not(:first-child) {
			margin-top: 42px;
			@media (max-width:$tablet) {
				margin-top: 22px;
			}
			@media (max-width:$mobileSmall) {
				margin-top: 10px;
			}
		}
		@media (max-width:$tablet) {
			gap: 15px;
		}
	}
	// .deal__item
	&__item {
		flex: 0 0 177px;
		width: 177px;
		height: 85px;
		padding: 10px 15px;
		border-radius: 12px;
		background: $white;
		@media (max-width:$tablet) {
			flex: 0 0 (177px - (177 * 0.2));
			width: 177px - (177 * 0.2);
			height: 85px - (85 * 0.2);
		}
		@media (max-width:$mobileSmall) {
			flex: 0 0 (177px - (177 * 0.4));
			width: 177px - (177 * 0.4);
			height: 85px - (85 * 0.4);
		}
		@media (any-hover: hover) {
			.deal__image:hover {
				transform: scale(1.03);
			}
		}
	}
	// .deal__image
	&__image {
		object-fit: contain;
		object-position: center;
		width: 100%;
		height: 100%;
		transition: transform 0.3s ease-in-out;
	}
}
//----------feedback----------
.feedback {
	// .feedback__container
	&__container {}
	// .feedback__title
	&__title {
		@extend %purple-title;
		&:not(:last-child) {
			margin-bottom: 70px;
			@media (max-width:$tablet) {
				margin-bottom: 30px;
			}
		}
	}
	// .feedback__content
	&__content {
		display: grid;
		gap: 23px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (min-width:$mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		}
	}
	// .feedback__item
	&__item {
		border-radius: 10px;
		border: 1.8px solid #707373;
		padding: 23px;
		&>*:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width:$mobileSmall) {
			padding: 15px;
		}
	}
	// .feedback__body
	&__body {
		display: flex;
		justify-content: space-between;
	}
	// .feedback__image
	&__image {
		aspect-ratio: 1/1;
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		max-width: 58px;
		max-height: 58px;
	}
	// .feedback__subtitle
	&__subtitle {
		color: $boldColor;
		font-family: "Core Sans C", sans-serif;
		font-size: 22px;
		font-weight: 500;
		letter-spacing: 0.44px;
	}
	// .feedback__text
	&__text {
		color: $mainColor;
		font-family: "Causten", sans-serif;
		font-size: 14px;
		letter-spacing: 0.28px;
		overflow: auto;
		max-height: 125px;
	}
}
.rating {
	display: flex;
	gap: 4px;
	// .rating--3-and-half
	&--3-and-half {
		& :nth-child(1),
		& :nth-child(2),
		& :nth-child(3) {
			&::after {
				content: "";
				background: url("../img/icon__rating-star--full.svg") center / cover no-repeat;
				width: 100%;
				height: 100%;
			}
		}
		& :nth-child(4) {
			&::after {
				content: "";
				background: url("../img/icon__rating-star--half.svg") center / cover no-repeat;
				width: 100%;
				height: 100%;
			}
		}
		& :nth-child(5) {
			&::after {
				content: "";
				background: url("../img/icon__rating-star--empty.svg") center / cover no-repeat;
				width: 100%;
				height: 100%;
			}
		}
	}
	&--4 {
		& :nth-child(1),
		& :nth-child(2),
		& :nth-child(3),
		& :nth-child(4) {
			&::after {
				content: "";
				background: url("../img/icon__rating-star--full.svg") center / cover no-repeat;
				width: 100%;
				height: 100%;
			}
		}
		& :nth-child(5) {
			&::after {
				content: "";
				background: url("../img/icon__rating-star--empty.svg") center / cover no-repeat;
				width: 100%;
				height: 100%;
			}
		}
	}
	&--5 {
		& :nth-child(1),
		& :nth-child(2),
		& :nth-child(3),
		& :nth-child(4),
		& :nth-child(5) {
			&::after {
				content: "";
				background: url("../img/icon__rating-star--full.svg") center / cover no-repeat;
				width: 100%;
				height: 100%;
			}
		}
	}
	// .rating__icon
	&__icon {
		width: 23px;
		height: 23px;
	}
}
.bullet-slider {
	display: flex;
	gap: 4px;
	justify-content: center;
	// .bullet-slider__item
	&__item {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: rgba(190, 188, 189, 0.30);
		// .bullet-slider__item--active
		&--active {
			background: $boldColor;
		}
	}
}
//----------footer----------
.footer {
	background: $boldColor;
	padding: 80px 0 60px 0;
	@media (max-width:$tablet) {
		padding: 50px 0 40px 0;
	}
	@media (max-width:$mobile) {
		padding: 30px 0;
	}
	// .footer__container
	&__container {
		padding: 0px 85px;
		&>* {
			margin-bottom: 20px;
		}
		&>*:last-child {
			margin-bottom: 0px;
		}
		@media (max-width:$pc) {
			padding: 0px 50px;
		}
		@media (max-width:$tablet) {
			padding: 0px 30px;
		}
	}
	// .footer__content
	&__content {}
	// .footer__menu
	&__menu {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 70px;
		&--margin {
			margin-top: 25px;
		}
		// .footer__menu--border
		&--border {
			&>*:last-child {
				@media (max-width:$mobileSmall) {
					padding-bottom: 0px;
					border-bottom: none;
				}
			}
		}
		@media (max-width:$tablet) {
			gap: 30px;
		}
		@media (max-width:$mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:$mobileSmall) {
			grid-template-columns: auto;
			gap: 15px;
		}
	}
	// .footer__title
	&__title {
		color: $greyBg;
		font-family: "Causten", sans-serif;
		font-size: 28px;
		font-weight: 700;
		line-height: 1.2;
		white-space: nowrap;
	}
	// .footer__external
	&__external {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		gap: 30px;
		flex-wrap: wrap;
		@media (min-width:$pc) {
			display: grid;
			grid-template-columns: 0.637fr 0.363fr;
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		@media (max-width:$mobile) {
			justify-content: flex-end;
		}
	}
	// .footer__categories
	&__categories {
		padding: 30px 0;
		border-bottom: 1px solid #707373;
		border-top: 1px solid #707373;
		@media (min-width:$pc) {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}
	// .footer__text
	&__text {
		color: $white;
		font-family: "Causten", sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.2;
		text-align: center;
	}
}
.menu-footer {
	// .menu-footer__item
	&__item {
		@media (max-width:$mobileSmall) {
			padding-bottom: 15px;
			border-bottom: 1px solid #707373;
		}
		&>*:not(:last-child) {
			margin-bottom: 35px;
			@media (max-width:$tablet) {
				margin-bottom: 25px;
			}
			@media (max-width:$mobile) {
				margin-bottom: 7px;
			}
		}
		// .menu-footer__item--grid-span
		&--grid-span {
			grid-column: span 2;
			@media (max-width:$mobile) {
				grid-column: auto;
			}
		}
	}
}
.submenu-footer {
	&>*:not(:last-child) {
		margin-bottom: 20px;
		@media (max-width:$tablet) {
			margin-bottom: 10px;
		}
	}
	// .submenu-footer__item
	&__item {
		color: $greyBg;
		font-family: "Causten", sans-serif;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.2;
	}
	// .submenu-footer__link
	&__link {
		//text-transform: capitalize;
		transition: color 0.3s ease-in-out;
		&::after {
			content: "";
			display: block;
			width: 0;
			height: 1.5px;
			margin-top: 2px;
			background-color: $greyBg;
			transition: width 0.3s ease-in-out;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
	// .submenu-footer__address
	&__address {
		line-height: 1.8;
	}
}
.external {
	// .external__socials
	&__socials {
		align-self: flex-end;
	}
	// .external__link-image
	&__link-image {
		border-radius: 10px;
		overflow: hidden;
	}
	// .external__image
	&__image {
		transition: opacity 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
	// .external__app
	&__app {
		display: flex;
		flex-direction: column;
		gap: 10px;
		@media (min-width:$pc) {
			gap: 25px;
		}
	}
	// .external__box
	&__box {
		display: flex;
		gap: 21px;
		flex-wrap: wrap;
	}
}