@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Neucha&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap");

/*-------------------МАКЕТ ФІГМА-------------------*/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Regular.woff2") format("woff2"),
	url("../fonts/Inter-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Medium.woff2") format("woff2"),
	url("../fonts/Inter-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}