@import url("reset.css");

@import url("fonts.css");

body {
	font-family: "Roboto Flex", sans-serif;
	font-size: 18px;
	line-height: 1.3;
}

.tittle h1 {
	font-family: "Neucha", cursive;
	font-weight: 700;
	font-size: 30px;
	font-style: italic;
	color: rgb(126, 170, 121);
	text-align: center;
	text-shadow:
		-5px -5px 10px #bfdd39,
		5px 5px 5px #c76bb4;
	text-decoration: underline;
	text-transform: uppercase;
	line-height: 1.7;
	letter-spacing: 2px;
	word-spacing: 15px;
	white-space: nowrap;
}

.subtitle-1 {
	font-family: "Amatic SC", cursive;
	font-weight: 700;
	font-size: 24px;
	color: rgba(226, 68, 110);
	text-transform: lowercase;
	text-align: center;
	line-height: 1.9;
}

.subtitle-1 span {
	text-decoration: line-through;
}

.main-photo {
	text-align: center;
}

p.text {
	color: #44612a;
	text-indent: 20px;
	line-height: 1.2;
	text-align: justify;
}

p.subtitle-2 {
	color: rgb(105, 107, 159);
}

.definition {
	color: rgb(105, 107, 159);
	font-weight: 600;
	font-style: italic;
}
.menu {
	font-family: "Neucha", cursive;
	font-size: 22px;
	line-height: 1.3;
	text-align: center;
	color: rgb(52, 151, 171);
	text-transform: capitalize;
}

.menu ul {
	color: rgb(105, 107, 159);
}

h2.contents,
footer h2 {
	font-family: "Neucha", cursive;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.9;
	letter-spacing: 2px;
	color: rgba(226, 68, 110);
	text-align: center;
	text-shadow: 5px 5px 15px;
	text-decoration: underline;
	text-transform: uppercase;
}

h3 {
	font-family: "Neucha", cursive;
	color: rgb(52, 151, 171);
	font-weight: 600;
	font-size: 26px;
	line-height: 1.5;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
}

h4 {
	font-family: "Neucha", cursive;
	color: rgb(105, 107, 159);
	font-weight: 500;
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
}

p.text .remark {
	font-weight: 700;
	color: rgb(159, 55, 109);
}

.photo {
	text-align: center;
}

.remarks li {
	font-family: "Amatic SC", cursive;
	font-size: 26px;
	font-weight: 700;
	text-indent: 15px;
}

/*-------------------МАКЕТ ФІГМА-------------------*/

.consulting-page {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #7d7d7d;
	line-height: 1.46;
}

.first-page .title {
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	color: #37393f;
	font-weight: 600;
	line-height: 1.27; /* 38.10px/30 */
}

.first-page .text,
.second-page .text {
	text-align: justify;
}
.first-page .subtitle {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	color: #6b77e5;
	font-weight: 600;
	line-height: 1.27; /* 25.40px/20 */
}

.second-page .title {
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	color: #37393f;
	font-weight: 700;
	line-height: 1.27; /* 50.80px/40 */
}

.second-page .list {
	text-indent: 30px;
	font-weight: 500;
}
