@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.practicing-block > *:not(:last-child),
.transition-animation-wrapper > *:not(:last-child) {
	margin-bottom: 100px;
}

.transition-animation-wrapper {
	padding: 30px;
	background: url("../img/7723064.jpg") 0 0/400px;
}

.transition,
.animation {
	background-color: #b1ddc6ff;
	padding: 40px;
	font-family: "Ubuntu Mono", monospace;
	font-size: 24px;
	color: rgb(44, 65, 132);
	border-radius: 30px;
	box-shadow: inset 0 0 15px 1px #6d787d;
}

.transition > *:not(:last-child),
.animation > *:not(:last-child) {
	margin-bottom: 80px;
}

.transition__title,
.animation__title {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	/*text-decoration: underline;*/
	text-shadow: #484b4d63 3px 5px 2px;
	color: rgb(151, 66, 81);
}

.transition__title:hover,
.animation__title:hover {
	text-shadow: #484b4d63 10px 10px 2px;
	/*text-decoration: none;*/
}

.transition__block > *,
.animation__block > * {
	margin-bottom: 15px;
}
.transition__block > *:last-child,
.animation__block > *:last-child {
	margin-bottom: 0px;
}

.transition__block .transition__text,
.animation__block .transition__text {
	margin-bottom: 40px;
}

.transition__subtitle,
.animation__subtitle {
	font-size: 28px;
	color: #aa4c5bff;
	text-decoration: underline;
	text-transform: capitalize;
}

.transition__text,
.animation__text {
	text-align: justify;
}

.transition__body,
.animation__body {
	font-size: 0px;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

[class*="tion__box"] {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background-color: rgb(226, 235, 243);
	width: 250px;
	height: 200px;
	font-size: 20px;
	border: 4px double #8c8594;
	position: relative;
	padding: 5px;
}

[class*="tion__box"] p:first-of-type {
	margin-top: 10px;
}

[class*="tion__box"] > *:not(:last-child) {
	margin-bottom: 10px;
}

[class*="tion__box"]:not(:last-child) {
	margin-right: 40px;
}

.transition__button {
	max-width: 100%;
	/*width: 70%;*/
	/*margin: 0 auto;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*transform: translateY(0);*/
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	background: rgb(158, 133, 177);
	background: linear-gradient(90deg, rgba(158, 133, 177, 1) 0%, rgba(131, 203, 192, 1) 100%);
	border-radius: 15px;
	border: 2.2px solid rgb(104, 111, 164);
	font-size: 28px;
	color: rgb(226, 225, 236);
	text-align: center;
	text-shadow: -1px 1px 1px rgb(46, 48, 73);
	padding: 12px 25px;
}

[class*="transition__button"]:hover {
	/*width: 82%;*/
	font-weight: normal;
	letter-spacing: normal;
	border-radius: 7px;
	border: 1.5px solid rgb(57, 61, 90);
	padding: 10px 45px;
	/*transform : translateY(-0px);*/
	text-align: center;
}

/*_________duration-0s_________*/
.transition__button--duration-0s {
	transition-duration: 0s;
}

/*_________duration-0.4s_________*/
.transition__button--duration-04s {
	transition-duration: 0.4s;
}

/*_________property-all_________*/
.transition__button--property-all {
	transition-duration: 0.8s;
	transition-property: all;
}

/*_________property-name1_________*/

.transition__button--property-name1 {
	transition-duration: 0.8s;
	transition-property: padding;
}

/*_________property-name2_________*/
.transition__button--property-name2 {
	transition-duration: 0.8s;
	transition-property: padding, border-radius;
}

/*_________transition-delay-0s_________*/
.transition__button--delay-0s {
	transition-duration: 0.4s;
	transition-property: all;
	transition-delay: 0s;
}

/*_________transition-delay-1s_________*/
.transition__button--delay-1s {
	transition-duration: 0.4s;
	transition-property: all;
	transition-delay: 1s;
}

/*_____transition-timing-function-ease_______*/
.transition__button--transition-timing-function-ease {
	transition-duration: 0.4s;
	transition-property: all;
	transition-delay: 0s;
	transition-timing-function: ease;
}

/*_____transition-timing-function-linear_______*/
.transition__button--transition-timing-function-linear {
	transition-duration: 0.4s;
	transition-property: all;
	transition-delay: 0s;
	transition-timing-function: linear;
}

/*_____transition-timing-function-steps_______*/
.transition__button--transition-timing-function-steps {
	transition-duration: 0.4s;
	transition-property: all;
	transition-delay: 0s;
	transition-timing-function: steps(3, end);
}

/*_____transition-timing-function-cubic-bezier_______*/
.transition__button--transition-timing-function-cubic-bezier {
	transition-duration: 0.4s;
	transition-property: all;
	transition-delay: 0s;
	transition-timing-function: cubic-bezier(0.55, -0.32, 0.77, -0.2);
}

/*_____transition-universal_______*/
.transition__button--transition-universal {
	transition:
		padding 1s cubic-bezier(0.55, -0.32, 0.77, -0.2),
		font-weight 0.8s linear,
		letter-spacing 1.2s ease-in-out 0.2s,
		border-radius 1s ease-out 0.8s,
		border 1s linear;
}

/*__________________@keyframes pulse___________________*/

.animation__button-wrapper {
	position: absolute;
	transform: /*translate(-50%, -50%)*/ rotate(-45deg);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.animation__button {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 60px;
	height: 60px;
	background-color: rgb(212, 104, 106);
	margin: 50px;
	box-shadow: -3px 3px 15px 3px rgba(127, 64, 64, 0.697);
}

.animation__button::before,
.animation__button::after {
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: rgb(212, 104, 106);
}

.animation__button::before {
	border-radius: 50% 50% 0 0;
	top: -30px;
	left: 0;
}

.animation__button::after {
	border-radius: 50% 50% 50% 0;
	top: 0;
	left: 30px;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	15% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(0.95);
	}
	45% {
		transform: scale(0.85);
	}
	60% {
		transform: scale(1);
	}
}

/*__________animation-duration-1s_______*/
.animation__button--duration-1s {
	animation-name: pulse;
	animation-duration: 1s;
}

/*__________animation-duration-2s_______*/
.animation__button--duration-2s {
	animation-name: pulse;
	animation-duration: 2s;
}

/*___________________animation-timing-function___________________*/
[class*="animation__button--timing-function"] {
	animation-name: pulse;
	animation-duration: 2s;
}

/*__________animation-timing-function-ease_______*/
.animation__button--timing-function-ease {
	animation-timing-function: ease;
}
/*__________animation-timing-function-ease-in-out_______*/
.animation__button--timing-function-ease-in-out {
	animation-timing-function: ease-in-out;
}
/*__________animation-timing-function-steps_______*/
.animation__button--timing-function-steps {
	animation-timing-function: steps(3, end);
}
/*__________animation-timing-function-cubic_______*/
.animation__button--timing-function-cubic {
	animation-timing-function: cubic-bezier(0.6, -0.3, 0.8, -0.2);
}

/*____________________animation-iteration-count_________________*/
[class*="animation__button--iteration-count"] {
	animation-name: pulse;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.6, -0.3, 0.8, -0.2);
}

/*__________animation-iteration-count-1_______*/
.animation__button--iteration-count-1 {
	animation-iteration-count: 1;
}
/*__________animation-iteration-count-3_______*/
.animation__button--iteration-count-3 {
	animation-iteration-count: 3;
}
/*__________animation-iteration-count-infinite_______*/
.animation__button--iteration-count-infinite {
	animation-iteration-count: infinite;
}

/*_____________________animation-direction_____________________*/
[class*="animation__button--animation-direction"] {
	animation-name: pulse;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.6, -0.3, 0.8, -0.2);
	animation-iteration-count: infinite;
}

/*__________animation-direction-normal_______*/
.animation__button--animation-direction-normal {
	animation-direction: normal;
}
/*__________animation-direction-reverse_______*/
.animation__button--animation-direction-reverse {
	animation-direction: reverse;
}
/*__________animation-direction-alternate_______*/
.animation__button--animation-direction-alternate {
	animation-direction: alternate;
}
/*__________animation-direction-alternate-reverse_______*/
.animation__button--animation-direction-alternate-reverse {
	animation-direction: alternate-reverse;
}

/*_____________________animation-play-state_____________________*/
[class*="animation__button--animation-play-state"] {
	animation-name: pulse;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.6, -0.3, 0.8, -0.2);
	animation-iteration-count: infinite;
}

/*____________animation-play-state-running_____________*/
.animation__button--animation-play-state-running {
	animation-play-state: running;
}
/*____________animation-play-state-paused_____________*/
.animation__button--animation-play-state-paused:hover {
	animation-play-state: paused;
}
/*____________animation-play-state-running-hover_____________*/
.animation__button--animation-play-state-running-hover {
	animation-play-state: paused;
}
.animation__button--animation-play-state-running-hover:hover {
	animation-play-state: running;
}

/*_____________________animation-delay_____________________*/
[class*="animation__button--animation-delay"] {
	animation-name: pulse;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.6, -0.3, 0.8, -0.2);
	animation-iteration-count: infinite;
}

/*____________animation-delay-0s______________*/
.animation__button--animation-delay-0s {
	animation-delay: 0s;
}
/*____________animation-delay-3s______________*/
.animation__button--animation-delay-3s {
	animation-delay: 3s;
}

/*_____________________animation-fill-mode_____________________*/
@keyframes color {
	0% {
		background-color: rgb(212, 104, 106);
	}
	50% {
		background-color: rgb(192, 98, 99);
	}
	100% {
		background-color: rgb(155, 77, 78);
	}
}

[class*="animation__button--animation-fill-mode"] {
	animation-name: pulse, color;
	animation-duration: 2s, 1s;
	animation-timing-function: cubic-bezier(0.6, -0.3, 0.8, -0.2), ease;
}

[class*="animation__button--animation-fill-mode"]::before,
[class*="animation__button--animation-fill-mode"]::after {
	animation-name: color;
	animation-duration: 1s;
	animation-timing-function: ease;
}

/*___________animation-fill-mode-none_____________*/
.animation__button--animation-fill-mode-none,
.animation__button--animation-fill-mode-none::before,
.animation__button--animation-fill-mode-none::after {
	animation-fill-mode: none;
}
/*___________animation-fill-mode-forwards_____________*/
.animation__button--animation-fill-mode-forwards,
.animation__button--animation-fill-mode-forwards::before,
.animation__button--animation-fill-mode-forwards::after {
	animation-fill-mode: forwards;
}
/*___________animation-fill-mode-backwards_____________*/
.animation__button--animation-fill-mode-backwards,
.animation__button--animation-fill-mode-backwards::before,
.animation__button--animation-fill-mode-backwards::after {
	animation-fill-mode: backwards;
}
/*___________animation-fill-mode-both_____________*/
.animation__button--animation-fill-mode-both,
.animation__button--animation-fill-mode-both::before,
.animation__button--animation-fill-mode-both::after {
	animation-fill-mode: both;
}

/*_____________________animation-universal_____________________*/
.animation__button--animation-universal {
	animation: pulse 2s cubic-bezier(0.6, -0.3, 0.8, -0.2) infinite 1s;
}

/*__________________car_________*/

.car-container {
	width: 800px;
	height: 300px;
	position: absolute;
	left: 60%;
	top: 72%;
}

.car-body {
	width: 700px;
	position: relative;
	perspective: 1000px;
	transform: scale(0.6);
}
.side-car__down-1-1 {
	width: 672px;
	height: 20px;
	background: rgb(15, 48, 98);
	background: linear-gradient(180deg, rgba(15, 48, 98, 1) 0%, rgba(30, 69, 140, 1) 100%);
	border-radius: 1px 0px 1px 5px;
	box-shadow: 0px 8px 15px 5px rgba(31, 9, 32, 0.496);
	transform: skew(8deg);
	position: absolute;
	top: 198px;
	left: 15px;
	z-index: 5;
}

.side-car__down-1-2 {
	width: 30px;
	height: 20px;
	background: rgb(15, 48, 98);
	background: linear-gradient(180deg, rgba(15, 48, 98, 1) 0%, rgba(30, 69, 140, 1) 100%);
	border-radius: 1px 0px 1px 5px;
	/*box-shadow: 0px 0px 2px 2px rgba(10, 14, 21, 0.5);*/
	transform: skew(-30deg);
	position: absolute;
	top: 198px;
	left: 680px;
	z-index: 5;
	border-radius: 0px 0px 3px 0px;
}

.side-car__down-2 {
	width: 700px;
	height: 40px;
	position: absolute;
	top: 160px;
	left: 20px;
	border-radius: 1px 0px 8px 1px;
	background: rgb(64, 114, 201);
	background: linear-gradient(160deg, rgba(64, 114, 201, 1) 0%, rgba(41, 85, 188, 1) 48%, rgba(64, 114, 201, 1) 80%);
	transform: skew(-5deg);
	z-index: 2;
}

.side-car__middle-line {
	width: 700px;
	height: 3px;
	position: absolute;
	top: 158px;
	left: 22px;
	background: radial-gradient(circle, rgb(89, 147, 213) 56%, rgb(53, 75, 161) 100%);
	z-index: 7;
	transform: skew(-6deg);
}

.side-car__up-1 {
	width: 699.7px;
	height: 10px;
	position: absolute;
	top: 149px;
	left: 22.5px;
	border-radius: 2px 0 0 0;
	background: #4088d7;
	z-index: 6;
	transform: skew(-6deg);
}

.side-car__up-2 {
	width: 471px;
	height: 50px;
	position: absolute;
	top: 100px;
	left: 254px;
	z-index: 5;
	border-radius: 1px 6px 0px 1px;
	transform: skew(-6deg);
	background: rgb(50, 66, 183);
	background: linear-gradient(
		180deg,
		rgba(50, 66, 183, 1) 0%,
		/*	rgba(122, 159, 202, 1) 33%,*/ rgba(80, 145, 219, 1) 61%,
		rgba(64, 136, 215, 1) 95%
	);
}

.side-car__up-3 {
	width: 300px;
	height: 50px;
	position: absolute;
	top: 100px;
	left: 116px;
	z-index: 4;
	/*border-radius: 1px 6px 0px 1px;*/
	transform: skew(-75deg);
	background: rgb(50, 66, 183);
	background: linear-gradient(
		180deg,
		rgba(50, 66, 183, 1) 0%,
		/*	rgba(122, 159, 202, 1) 33%,*/ rgba(80, 145, 219, 1) 61%,
		rgba(64, 136, 215, 1) 95%
	);
}

.roof-box {
	width: 332px;
	height: 63px;
	position: absolute;
	top: 31px;
	left: 290px;
	z-index: 3;
	border-radius: 5px 5px 5px 5px;
	perspective: 80px;
	perspective-origin: 45% top;
}

.roof {
	width: 100%;
	height: 100%;
	transform: rotateX(65deg) /*skew(-28deg)*/;
	border-radius: 15px 15px 4px 3px;
	background: rgb(50, 66, 183);
	background: linear-gradient(0deg, rgba(50, 66, 183, 1) 20%, rgba(68, 24, 164, 1) 100%);
}

.windows__left {
	width: 36px;
	height: 45px;
	position: absolute;
	top: 53px;
	left: 258px;
	z-index: 6;
	border-radius: 5px 0px 0px 5px;
	transform: skew(-64.5deg);
	background: rgb(9, 13, 61);
	background: linear-gradient(135deg, rgba(9, 13, 61, 1) 0%, rgb(15, 26, 56) 50%, rgba(9, 13, 61, 1) 100%);
	box-shadow:
		-4px -4px 8px -4px rgba(61, 202, 213, 0.79) inset,
		10px 5px 4px -3px rgba(129, 61, 213, 0.79) inset;
}

.windows__middle-box {
	width: 140px;
	height: 55px;
	position: absolute;
	top: 43px;
	left: 310px;
	z-index: 6;
	border-radius: 5px 5px 5px 5px;
	perspective: 100px;
	perspective-origin: 95% top;
	/*	transform-style: preserve-3d;*/
}

.windows__middle {
	background: #090d3d;
	width: 100%;
	height: 100%;
	transform: rotateX(55deg) skew(-28deg);
	border-radius: 15px 15px 4px 3px;
	box-shadow:
		-4px -4px 6px -3px rgba(61, 202, 213, 0.79) inset,
		5px 8px 4px -3px rgba(129, 61, 213, 0.79) inset;
}

.car-body:hover .windows__middle,
.car-body:hover .windows__left,
.car-body:hover .windows__back,
.car-body:hover .windows__right {
	/*	background: rgba(177, 163, 13, 0.449);*/
	background: rgba(171, 167, 224, 0.879);
	background: linear-gradient(90deg, rgba(199, 167, 224, 0.149) 0%, rgba(242, 220, 139, 0.499) 100%);
	box-shadow:
		-4px -4px 6px -3px rgba(61, 202, 213, 0.79) inset,
		5px 8px 4px -3px rgba(129, 61, 213, 0.79) inset,
		0px 0px 5px 1px rgba(242, 220, 139, 0.53);
}

.windows__right-box {
	width: 55px;
	height: 87px;
	position: absolute;
	top: 18px;
	left: 493px;
	z-index: 6;
	border-radius: 5px 5px 5px 5px;
	perspective: 70px;
	perspective-origin: 20% top;
}

.windows__right {
	background: #090d3d;
	width: 100%;
	height: 100%;
	transform: rotateX(105deg);
	border-radius: 15px 15px 4px 3px;
	box-shadow:
		-4px -4px 5px -3px rgba(61, 202, 213, 0.79) inset,
		5px 8px 4px -1px rgba(129, 61, 213, 0.79) inset;
}

.windows__back-box {
	width: 55px;
	height: 51px;
	position: absolute;
	top: 45px;
	left: 591px;
	z-index: 6;
	border-radius: 3px 5px 5px 5px;
	perspective: 70px;
	perspective-origin: -250% top;
}

.windows__back {
	width: 100%;
	height: 100%;
	transform: rotateX(52deg) skew(10deg);
	border-radius: 10px 10px 6px 3px;
	background: rgb(73, 92, 165);
	background: radial-gradient(circle, rgb(66, 57, 163) 20%, rgb(35, 36, 102) 80%);
	box-shadow:
		0px -4px 4px -3px rgba(61, 202, 213, 0.79) inset,
		8px 10px 4px -5px rgba(129, 61, 213, 0.79) inset;
}

.door__top {
	width: 203px;
	height: 48px;
	position: absolute;
	top: 52px;
	left: 255px;
	z-index: 7;
	border-radius: 5px 10px 5px 1px;
	transform: skew(-30deg);
	border-right: 2px solid #090d3d93;
}

.door__middle {
	width: 203px;
	height: 60px;
	position: absolute;
	top: 100px;
	left: 245px;
	z-index: 7;
	border-radius: 5px 10px 0px 1px;
	transform: skew(-8deg);
	border-right: 2px solid #090d3d93;
	border-left: 2px solid #090d3d93;
}

.door__bottom {
	width: 203px;
	height: 58px;
	position: absolute;
	top: 160px;
	left: 245px;
	z-index: 7;
	border-radius: 1px 1px 10px 10px;
	transform: skew(8deg);
	border-right: 2px solid #090d3d93;
	border-left: 2px solid #090d3d93;
}

.door__handle-box {
	width: 35px;
	height: 15px;
	position: absolute;
	top: 115px;
	left: 395px;
	z-index: 7;
	border-radius: 3px;
	border: 2px solid #0e1351a0;
	background: rgb(48, 124, 203);
	background: radial-gradient(circle, rgba(48, 124, 203, 1) 22%, rgba(65, 112, 186, 1) 100%);
	box-shadow:
		2px 2px 2px -1px rgba(61, 202, 213, 0.79) inset,
		-8px -10px 2px -8px rgba(129, 61, 213, 0.79) inset;
}

.door__handle {
	width: 23px;
	height: 10px;
	position: absolute;
	top: 3px;
	left: 10px;
	z-index: 8;
	border-radius: 3px;
	background: #181c47d1;
	box-shadow: -8px -10px 6px -8px rgba(129, 61, 213, 0.79) inset;
}

.left-wheel {
	position: absolute;
	top: 140px;
	left: 105px;
}

.right-wheel {
	position: absolute;
	top: 140px;
	left: 545px;
}

[class*="-wheel__arc"] {
	width: 120px;
	height: 80px;
	position: absolute;
	border-radius: 130px 130px 0 0;
	background: rgb(12, 22, 38);
	z-index: 11;
	box-shadow: 18px 11px 10px 2px rgba(33, 37, 86, 0.61) inset;
}

[class*="-wheel__tire"] {
	width: 110px;
	height: 110px;
	position: absolute;
	top: 8px;
	left: 5px;
	border-radius: 50%;
	background: rgb(10, 20, 65);
	background: radial-gradient(circle, rgb(7, 14, 45) 10%, rgb(5, 3, 41) 48%, rgb(23, 28, 37) 64%, rgb(3, 1, 29) 100%);
	z-index: 12;
	box-shadow:
		-5px 4px 4px -3px rgba(61, 202, 213, 0.79) inset,
		7px -5px 4px -5px rgba(129, 61, 213, 0.79) inset;
}

[class*="-wheel__disc"] {
	width: 90px;
	height: 90px;
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	background: rgb(40, 73, 180);
	background: linear-gradient(52deg, rgba(40, 73, 180, 1) 14%, rgba(53, 112, 204, 1) 100%);
	z-index: 13;
	box-shadow:
		-5px 4px 4px -3px rgba(61, 202, 213, 0.79) inset,
		7px -5px 4px -5px rgba(129, 61, 213, 0.79) inset;
}

[class*="-wheel__cap-1"] {
	width: 75px;
	height: 75px;
	position: absolute;
	top: 18px;
	left: 18px;
	border-radius: 50%;
	z-index: 14;
	/*border:1px solid #15294e9d;*/
	outline: 2px solid rgba(35, 12, 64, 0.264);
	box-shadow:
		-5px 4px 10px -3px rgba(28, 109, 114, 0.79) inset,
		7px -5px 10px -6px rgba(46, 21, 78, 0.79) inset,
		-5px 4px 4px -3px rgba(61, 203, 213, 0.541) inset,
		7px -5px 4px -5px rgba(129, 61, 213, 0.556) inset;
	background: rgb(32, 71, 166);
	background: linear-gradient(52deg, rgba(32, 71, 166, 1) 28%, rgba(65, 136, 222, 1) 100%);
}

[class*="-wheel__cap-2"] {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 33px;
	left: 33px;
	border-radius: 50%;
	z-index: 15;
	border: 5px solid rgba(10, 31, 93, 0.532);
	box-shadow:
		-5px 4px 4px -3px rgba(61, 202, 213, 0.79) inset,
		7px -5px 4px -5px rgba(129, 61, 213, 0.79) inset,
		9px -10px 15px -28px rgba(21, 40, 108, 0.55);
	outline: 2px solid rgba(26, 78, 79, 0.534);
}

[class*="-wheel__line"] {
	width: 15px;
	height: 4.5px;
	position: absolute;
	top: 53px;
	left: 82px;
	border-radius: 1px;
	z-index: 16;
	background: rgb(38, 100, 188);
	background: linear-gradient(52deg, rgb(31, 80, 149) 7%, rgba(51, 42, 174, 0.833) 80%);
}

.car-body__exhaust {
	width: 30px;
	height: 18px;
	background: rgb(32, 71, 166);
	background: linear-gradient(0deg, rgb(20, 45, 107) 1%, rgba(65, 136, 222, 1) 58%, rgb(38, 77, 123) 100%);
	transform: skew(-5deg);
	position: absolute;
	top: 190px;
	left: 705px;
	z-index: 1;
	border-radius: 0px 0px 3px 0px;
	outline: 1px solid rgba(35, 12, 64, 0.137);
	box-shadow:
		-5px 4px 10px -3px rgba(28, 109, 114, 0.79) inset,
		7px -5px 10px -6px rgba(46, 21, 78, 0.79) inset;
}

.gas-tank {
	width: 27px;
	height: 27px;
	background: rgb(50, 66, 183);
	background: linear-gradient(
		20deg,
		rgba(64, 81, 207, 0.697) 0%,
		/*	rgba(122, 159, 202, 1) 33%,*/ rgb(92, 154, 225) 61%,
		rgba(64, 137, 215, 0.77) 95%
	);
	position: absolute;
	top: 120px;
	left: 660px;
	z-index: 8;
	border-radius: 50%;
	outline: 1px solid rgba(35, 12, 64, 0.585);
	box-shadow:
		8px -5px 10px -8px rgba(21, 40, 108, 0.429) inset,
		-8px 5px 10px -8px rgba(24, 152, 178, 0.429) inset;
	overflow: hidden;
}

.gas-tank__handle {
	width: 15px;
	height: 4px;
	background: rgb(50, 66, 183);
	background: linear-gradient(
		20deg,
		rgba(45, 57, 147, 0.697) 0%,
		/*	rgba(122, 159, 202, 1) 33%,*/ rgb(65, 123, 189) 61%,
		rgba(31, 66, 104, 0.77) 95%
	);
	position: absolute;
	top: 11px;
	left: 19px;
	z-index: 9;
	border-radius: 3%;
	outline: 1px solid rgba(35, 12, 64, 0.585);
	box-shadow: 1px 1px 3px 1px rgba(21, 40, 108, 0.244) inset;
}

[class*="lights__"] {
	position: absolute;
}

.lights__front {
	width: 45px;
	height: 5px;
	top: 153px;
	left: 49px;
	z-index: 20;
	/*background: rgb(224, 191, 167);
	background: linear-gradient(90deg, rgb(167, 177, 224) 0%, rgb(83, 78, 155) 100%);
	border-radius: 12%;
	border-top: 2px solid #1a2170ba;*/
	border-top: 2px solid #604110ba;
	background: rgb(224, 191, 167);
	background: linear-gradient(90deg, rgba(224, 191, 167, 1) 0%, rgba(242, 220, 139, 1) 100%);
	box-shadow: 1px 1px 35px 20px rgba(242, 220, 139, 0.53);
}
/*
.car-body:hover .lights__front {
	border-top: 2px solid #604110ba;
	background: rgb(224, 191, 167);
	background: linear-gradient(90deg, rgba(224, 191, 167, 1) 0%, rgba(242, 220, 139, 1) 100%);
	box-shadow: 1px 1px 35px 20px rgba(242, 220, 139, 0.53);
}*/

.lights__back {
	width: 15px;
	height: 40px;
	top: 109px;
	left: 715px;
	z-index: 25;
	background: rgb(255, 147, 225);
	background: linear-gradient(-90deg, rgb(225, 110, 219) 0%, rgb(176, 40, 158) 100%);
	box-shadow:
		7px -5px 4px -5px rgba(97, 56, 148, 0.892) inset,
		10px 12px 48px 28px rgba(224, 86, 137, 0.53);
	border-top: 2px solid #822a46ba;
	border-bottom: 2px solid #822a46ba;
	border-left: 2px solid #822a46ba;
	transform: skew(-8deg);
}

/*.car-body:hover .lights__back {
	background: rgb(255, 147, 225);
	background: linear-gradient(-90deg, rgb(225, 110, 219) 0%, rgb(176, 40, 158) 100%);
	box-shadow: 7px -5px 4px -5px rgba(97, 56, 148, 0.892) inset, 10px 12px 48px 28px rgba(224, 86, 137, 0.53);
	border-top: 2px solid #822a46ba;
	border-bottom: 2px solid #822a46ba;
	border-left: 2px solid #822a46ba;
}*/

.car-body:hover .side-car__down-1-1 {
	box-shadow: 0px 8px 15px 5px rgba(230, 69, 232, 0.344);
}

.traffic-lights {
	position: absolute;
	top: 38.7%;
	left: -650px;
}
.traffic-lights img {
	height: 250px;
}

.traffic-lights__red {
	position: absolute;
	top: 3%;
	left: 46%;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: rgb(255, 41, 52);
	box-shadow: 0px 0px 100px 80px rgba(255, 47, 47, 0.91);
}

.traffic-lights__green {
	position: absolute;
	top: 24%;
	left: 46%;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: rgb(78, 203, 147);
	box-shadow: 0px 0px 100px 80px rgba(52, 243, 112, 0.651);
	opacity: 0;
}

.cyber-truck {
	position: absolute;
	top: 51%;
	left: -500px;
	z-index: 30;
}

.cyber-truck img {
	height: 500px;
}

.clouds {
	position: absolute;
	top: 30%;
	left: 0px;
	width: 200%;
}

.clouds :first-child {
	margin-left: -1000px;
}

.clouds > *:not(:last-child) {
	margin-right: 89px;
}

.clouds > :nth-child(odd) {
	height: 100px;
	margin-top: -70px;
}

.clouds > :nth-child(even) {
	height: 80px;
}

/*__________car_____@keyframes________*/
@keyframes right-flow {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: -1000% 0%;
	}
}

@keyframes road-line {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(1100px);
	}
}

@keyframes wheels-360 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes move-up {
	0% {
		transform: translate(0px, 0px);
	}
	20% {
		transform: translate(-100px, -100px);
	}
	30% {
		transform: translate(-150px, -100px);
	}
	40% {
		transform: translate(-300px, -100px);
	}
	65% {
		transform: translate(-350px, -100px);
	}
	75% {
		transform: translate(-420px, -100px);
	}
	100% {
		transform: translate(-1550px, -65px);
	}
}

@keyframes blink-red {
	0%,
	40%,
	80%,
	95% {
		opacity: 1;
	}
	20%,
	60%,
	100% {
		opacity: 0;
	}
}

@keyframes on-green {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes lights-out {
	0% {
		transform: translateX(1100px);
	}
	100% {
		transform: translateX(2400px);
	}
}

@keyframes clouds {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(550px, -25px);
	}
	100% {
		transform: translate(1100px, 0px);
	}
}

/*__________car_____animation________*/

.car-wrapper {
	/*max-width: 1000px;*/
	min-height: 800px;
	/*padding-left: 15px;
	padding-right: 15px;
	/*margin: 0 auto;*/
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 0);
}

.car-wrapper::before {
	content: "";
	background: url("../img/background.webp") repeat-x;
	background-position: 0% 0%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	animation: right-flow 25s linear infinite;
}

.road-line {
	width: 200%;
}
.road-line :first-child {
	margin-left: -1000px;
}
.road-line > *:not(:last-child) {
	margin-right: 100px;
}
.road-line__item {
	display: inline-block;
	position: relative;
	left: 0px;
	top: 645px;
	width: 80px;
	height: 10px;
	background: #fefdffff;
	border: 1px solid #d8ccd9ff;
	animation: road-line 3s linear infinite;
}

.left-wheel__tire,
.right-wheel__tire {
	animation: wheels-360 0.45s linear infinite;
}

.car-container {
	animation: move-up 4s linear 6s forwards;
}

.traffic-lights,
.cyber-truck {
	animation:
		road-line 6s linear 1s forwards,
		lights-out 2s ease-in 8.7s forwards;
}

.traffic-lights__red {
	animation: blink-red 2.5s ease-in-out 5.5s forwards;
}

.traffic-lights__green {
	animation: on-green 0.7s ease-out 8.25s forwards;
}

.clouds {
	animation: clouds 7s linear infinite;
}
